extends ../../templates/default

block meta
  - self.title = 'Jogos de Dragon Ball';
  - self.description = 'Jogos';

block content
  section.content
    .wrapper
      section.page-content Em desenvolvimento.
