extends ../../templates/default

block meta
  - self.title = 'Imagens de Dragon Ball';
  - self.description = 'Galeria com mais de 5 mil imagens de Dragon Ball, Dragon Ball Z, Dragon Ball GT categorizadas por personagem.';

block content
  section.content
    .wrapper
      section.page-content Em desenvolvimento.
