extends default

block content
  .content
    .wrapper
      .grid.grid-padded
        .width-1-7.visible-lg
        .width-1-1.width-lg-5-7
          section.page-content
            h1= self.title
            block inner-content
