extends ../../templates/default

block meta
  - self.title = 'Todos os Personagens de Dragon Ball';
  - self.description = 'Lista com biografia resumida da maioria dos personagens que jรก passaram pelas sagas de Dragon Ball.';

block content
  section.content
    .wrapper
      section.page-content Em desenvolvimento.
