extends ../../templates/content

block append meta
  - self.title = 'Árvore Genealógica'
  - self.description = 'Árvore genealógica com diversos personagens e como se relacionaram em Dragon Ball.'

block inner-content
  .text-center: img(src='#{self.cdn}/gal/paginas/var_arv_img.jpg', width='480', height='710', alt='')
