extends ../../templates/content

block append meta
  - self.title = 'Cronologia do Anime'
  - self.description = 'Cronologia de eventos das sagas de Dragon Ball.'

block inner-content
  h2 Há aproximadamente 100 milhões de anos
  p Nesta época se tem a primeira noticia da existência de Kaio Sei, do planeta kaio Sama que posteriormente seria destruído por Cell.

  h2 Há aproximadamente 75 milhões de anos
  p Ro kaio Shin e encerrado na espada Z

  h2 Há aproximadamente 5 milhões de anos
  p O mago Bibidi cria a Majin Boo. depois de uma dezena de anos o diabólico ser aniquila centenas de planetas. Dos cinco kaio Shin que protegem o universo, o demônio Boo elimina dois e absorve os demais. Por isso o incontrolado Boo e encerrado em uma esfera por Bibidi e escondido na Terra.

  h2 Há aproximadamente 10.000 anos
  p Annin controla a Hakkero (os oitos fogos incandescentes) em Gokyosan (os Cinco Picos), separando nosso mundo do outro mundo.

  h2 Ano 4237
  p Os antepassados de Garlick Jr se dirigem a Terra.

  h2 Ano 739
  p Hebi Hime (A Princesa Serpente) constrói seu palácio no caminho da serpente que conduz ao planeta de kaio Sama.

  h2 Ano 238
  p Planeta Vegeta: Entre a primitiva raça dos saiyajin começa a aparecer uma lenda que falava sobre a futura aparição de um super saiyajin.

  h2 Ano zero
  p Se da inicio ao calendário oficial de Dragon Ball que não se equivale com nosso calendário

  h2 250
  p A fama de Baba como vidente começa a crescer graças aos seus poderes.

  h2 261
  p Enma Daioh (o juiz dos mortos) se dirige ao planeta de kaio Sama pelo caminho da serpente. Durante a travessia, a Princesa Serpente o convida ao seu palácio. Ao mesmo tempo, se sucedem as mudanças climáticas no planeta Namek. O filho de Katattsu foge para a Terra.

  h2 430
  p Nasce Kame Sennin (alias Mutenroshi), um dos futuros mestres de Son Goku

  h2 431
  p O filho de Katattsu se converte em discípulo dos deuses da Terra.

  h2 448
  p Mutaito começa a treinar a um Kame Sinnin de 18 anos de idade.

  h2 459
  p Nasce Tao Pai Pai

  h2 461
  p Os antepassados de Garlick voltam a atacar a Terra e são detidos pelo antigo deus. O filho de Katattsu se converte em novo deus da Terra depois que se divide em duas partes. Dessa maneira "nascem" Kamisama (a parte boa) e Piccolo Daimaoh (a parte ma). Depois de uma temporada de horror e destruição, Mutaito consegue encerrar a Piccolo graças a técnica Mafuba. Mutaito morre em seguida.

  h2 474
  p Dabura visita pela primeira vez a Terra para comprovar se ha perigo com a esfera que encerra a Boo.

  h2 550 (aproximadamente)
  p Os saiyajins descobrem uma nave espacial procedente do planeta Plant que havia caido em seu territorio

  h2 553
  p Kame Sennin comeca a colecionar revistas eroticas

  h2 650 (aproximadamente)
  p Kame Sennin encontra a Dragon Ball de trez estrelas no fundo do mar

  h2 650
  p Em 7 de maio se celebra o primeiro torneio de artes marciais

  h2 658
  p Nasce Son Gohan, que mais tarde seria o avo adotivo de Son Goku

  h2 698
  p Nasce Toninjinka

  h2 715
  p Nasce o grande rei Pilaf

  h2 720-730 (aproximadamente)
  p Os saiyajins se unem com os guerreiro do planeta Plant e se rebelam contra a raca dos tsufurs. Durante esse periodo de conflito os saiyajins aniquilam por completo (ou quase) os tsufurs. O cientista tsufur conhecido como Raichi aparentemente morre lutando.
  p Finaliza a alianca com o planeta Plant. Os saiyajins iniciam a reconstrucao da civilizacao no planeta Vegeta. Descobrem a tecnologia tsufur com a qual poderao viajar a outros planetas e ultilizar artefatos como o scouter (que pode medir a forca de combate dos inimigos).

  h2 722
  p Nasce o futuro membro das forcas Red Ribbon: o General Blue.

  h2 730
  p Tao Pai Pai se torna assassino profissional.

  h2 731 (aproximadamente)
  p A cidade saiyajin se alia com o tirano Freeza, que os da naves espaciais de longa jornada. Sem nenhum limite de movimentos, os saiyagin comecam a conquistar planetas que logo vendiam a Freeza. O Rei Vegeta (pai do futuro super saiyagin Vegeta) acede ao trono.

  h2 732
  p Nascimento do Principe Vegeta.

  h2 733
  p Nascem Bulma, Yancha e Ten Shin-Han.

  h2 (8 de maio)
  p E elegido o Rei da Terra

  h2 734
  p Freeza comeca e temer o poder dos saiyajins e aumenta sua desconfianca para com eles. Ao mesmo tempo, no planeta Vegeta, os saiyagins comecam a suspeitar de seu "socio" Freeza.

  h2 736
  p Nascimento de Kurilin.

  h2 737
  p Nascimento do Kakaroto (Son Goku). Os saiyajins invdem os planetas Karnage e Milt. O Rei Vegeta enfrenta Freeza. Goku parte do planeta vegeta a caminho da terra. Seu pai Bardock e assassinado por Freeza, ao mesmo tempo em que Freeza destroi o planeta Vegeta e seus habitantes. Nasce Chichi e sua mae morre. (entre junho e agosto) O velho Son Gohan encontra Kakaroto e decide chamar-lhe de Son Goku.

  h2 738
  p Goku leva uma pancada na cabeca e se esquece da missao que havia sido condicionada polos saiyajins: a aniquilacao da raca humana e o controle do planeta Terra para sua posterior venda.

  h2 739
  p Flipan Yama de Gyumaoh pega fogo enquanto fazia um piquinique com sua filha.

  h2 740
  p Nascimento de Oloong. Kurilin comeca seus estudos de artes marciais no templo de Oorin

  h2 747
  p Goku olha para a lua cheia e se transforma em um gorila gigantesco (o efeito oozaru) e mata seu avo adotivo. Yamcha e Pual se conhecem.

  h2 748
  p Morre a Fenix de Kame Sennin por causa de uma indigestao. Umigame, a tartaruga companheira de Kame Sennin, se perde

  h2 749 (principios de abril)
  p Na capital do oeste Bulma encontra no sotao de sua casa a Dragon Ball de duas estrelas.

  h2 (22 de agosto)
  p Bulma encontra encontra em um vale a Dragon Ball de cinco estrelas

  h2 (1 de setembro)
  p Goku e Bulma se conhecem. Bulma encontra a Dragon Ball de quatro estrelas e diz a Goku que ela nao e seu avo.

  h2 (2 de setembro)
  p Goku e Bulma conhecem a Kame Sennin e encontram e esfera de trez estrelas

  h2 (5 de setembro)
  p Goku descobre o engano de Oloong e recebe a esfera de seis estrelas da avo de Paozu.

  h2 (6 de setembro)
  p Goku e Yamcha se conhecem.

  h2 (9 de setembro)
  p Goku e Yamcha se enfrentam. Kame Sennin apaga o incendio de Flipan Yama com seu Kame Hame Ha. Bulma recebe a drago ball de sete estrelas de Gyumaoh. Goku derrota o bando de terroristas de Toninjika. Toninjika e seus oficiais sao enviados a lua. Pilaf rouba as 6 bolas conseguidas; Shen Long e convocado. Goku olha para a lua e se transforma em Ohzaru, acabando com os planos de Pilaf.

  h2 (10 de setembro)
  p Goku e Kurilin se poe as ordens de Kame Sennin. Goku e Kurilin encontram Lunch

  h2 (11 de setembro)
  p Goku, Kurilin e Lunch sofrem uma indigestao

  h2 (14 de setembro)
  p Goku e Kurilin se levantam as 4:30 am, ansiosos para comecar o treinamento. Depois de oito horas eles ja sabem o que e um treinamento.

  h2 (2 de outubro)
  p Yamcha e Pual comecam a estudar no instituto da Cidade do Oeste.

  h2 750 (6 de abril)
  p Goku e Kurilin realizam seu treinamento com uma nova carapaça de tartaruga que pesa 40kg.

  h2 (18 de abril)
  p As forcas Red Ribbon comeca a procura pelas dragon ball.

  h2 (6 de maio)
  p Goku e companhia saem da Kame House a caminho do torneio de artes marciais.

  h2 (7 de maio)
  p comeca o 21° torneio de artes marciais. Jackie Chun lanca um Kame Hame ha a lua e a destroi. Toninjika e seus oficiais morrem no ato. Jack Chun se proclama vencador do torneio e Goku em segundo. Pilaf e a Red Ribbon lutam pela esfera de 6 estrelas.

  h2 (8 de maio)
  p Goku derrota os ocupantes da Muscle Tower

  h2 (9 de maio)
  p Goku pede a Bulma o dragon radar. O general Blue e lancado de fora da Penguin Village por Arale. Bluee assassinado por Tao Pai Pai. Tao Pai Pai derrota Goku e assassina Bora. Goku decide subir a torre de Karin

  h2 (10 de maio)
  p Goku alcanca o topo da torre de Karin. Goku conhece a Karin Sama e comeca seu treinamento.

  h2 (12 de maio)
  p Goku consegue pegar Karin. Goku, muito mais poderoso derrota Tao Pai Pai e acaba com a Red Ribbon. Depois viaja ao palacio da bruxa Baba e se reencontra com seu avo, o falecido Son Gohan. Shen Long e envocado e ressussita Boraa.

  h2 753 (7 de maio)
  p Comeca o 23° torneio de artes marciais. Ten Shin Han e o campeao e Goku e o finalista. Se constata o retorno de Piccolo Daimaoh, liberado por Pilaf

  h2 (8 de maio)
  p Goku e derrotado por Piccolo. Piccolo rejuvenece e derrota o rei da Terra, Kokuoh e toma controle do King Castle.

  h2 (9 de maio)
  p Goku, recuperado, derrota a Piccolo. Nasce Ma Junior (o futuro Piccolo). Goku sobe ao palacio de Deus e recebe seu treinamento durante trez anos

  h2 756 (7 de maio)
  p Comeca o 24° torneio de artes marciais. Goku, com 18 anos casa-se com Chichi e vence o torneio.

  h2 (8 de maio)
  p Goku e Chichi apagam o fogo de Flipan Yama

  h2 757 (maio)
  p Nascimento de Son Gohan

  h2 759-760
  p Goku é entrevistado pelo semanario Shonen Jump

  h2 761
  p A primeira alianca entre Goku e Piccolo. Aparece Garlick Jr. e é derrotado.

  h2 (12 de outubro)
  p Raditz chega a Terra. Segunda alianca de Goku e Piccolo. Se descobre o potencial de Son Gohan. Goku morre apos derrotar Raditz, que tambem cai morto no combate. Vegeta e Nappa iniciam sua viagem a Terra. Gohan comeca seu treinamento com Piccolo.

  h2 762 (março)
  p Kurilin, Yamcha, Tem Shin Han, Chaoz e Yajiirobe comecam seu treinamento as ordens de deus. Goku alcanca o final da serpente onde se encontra o planeta de Kaioh e comeca seu treinamento as ordens de Kaioh Sama.

  h2 (9 de maio)
  p Goku pega o macaco Bubles

  h2 (2 de novembro)
  p Goku finaliza o treinamento junto a Kaioh e revive.

  h2 (3 de novembro)
  p Vegeta e Nappa chegam a Terra. Piccolo, Ten Chin Han, Chaoz e Yamcha morrem. Goku, Kurilin, Gohan e Yashirobe derrotam a Vegeta e Nappa. Um microscopico robo espiao captura celulas de Goku e compania para posterior construcao do bioandride Cell.

  h2 (4 de novembro)
  p Goku e seus amigos comecam sua recuperacao na Cidade do Oeste.

  h2 (7 de novembro)
  p Gohan e Kurilin recebem alta

  h2 (9 de novembro)
  p A nave namek de Kamisama e descoberta em Yunzabito.

  h2 (14 de novembro)
  p O trabalho de traducao do idioma Namek se conclue. Bulma, Kurilin e Gohan partem para o planeta Namek.

  h2 (18 de setembro)
  p Bulma e companhia, Vegeta chegam a Namek. Goku parte para Namek. Dende guia a Kurilin a casa de Saichoro ( o Patriarca ). Piccolo, Ten Chin Han, Chaoz e Yamcha comecam a treinar com Kaioh Sama. A nave de Goku e pega pela gravidade do planeta Alpha H Zeta, escapou usando um Kama Hame ha.

  h2 (19 de dezembro)
  p Por ordens de Freeza, a equipe especial de Ginew deixa sua missao no planeta Yardrat para dirigir-se a Namek.

  h2 (20 de dezembro)
  p Zarbon e Vegeta se enfrentam duas vezes, ganhando finalmente o Principe dos saiyajins. Kurilin leva Gohan a encontrar-se com Saichoro.

  h2 (23 de dezembro)
  p Finalza-se o treinamento de Goku no interior da nave.

  h2 (24 de dezembro)
  p Goku aterrisa em Namek. A equipe especial de Ginew é aniquilada. Piccolo volta a vida. Morre Vegeta (o orgulho dos saiyajins sera vingado). Krillin e assassinado por Freeza. Goku se transforma em Super saiyajin da lenda e acaba com Freeza. O planeta Namek explode.

  h2 763 (3 de maio)
  p Kurilin e Yamcha ressussitam

  h2 (10 de setembro)
  p Revivem Ten Shin Han e Chaoz. Os nameks sobreviventes na Terra vao para o planeta Novo Namek.

  h2 (outubro)
  p O planeta endemoniado, que cada 5000 anos cerca a Terra, das forcas de Garlick Jr que pretende atacar o templo de deus

  h2 (antes de finalizar o ano)
  p A maquina do tempo em que viaja Cell chega a nossa corrente temporal. A custosa reconstrucao de Freeza se conclue.

  h2 764 (agosto)
  p Trunks derrota a Freeza a seu pai, King Cold. Goku regressa a Terra.

  h2 (antes de finalizar o ano)
  p Vegeta comeca o treinamento para alcancar o nivel de super saiyajin. Nesse periodo comeca a ganhar o afeto de Bulma. Goku e Piccolo ingressam em uma auto-escola para conseguir licenca para dirigir.

  h2 764-767
  p Koola chega a Terra e e derrotado por Goku. Koola contra ataca e invade o novo Namek, somente para ser destruido por Goku e Vegeta.

  h2 766
  p Nasce o primeiro filho de Bulma e Vegeta: Trunks.

  h2 (7 de maio)
  p Se celebra o 24° Torneiode Artes Marciais. Mr Satan se proclama vencedor apos derrotar a Spopobich. Uma vojenzinha chamada Videl, filha de Mr. Satan, ganha o Torneio Junior

  h2 (entre 8 e 11 de maio)
  p Aparecem os androides 19 e 20. Goku cai enfermo. Vegeta derrota o numero andoide 20 apresentando-se como um novo super saiyajin. Volta Trunks do futuro apos sua aparicao os numeros 16, 17 e 18. Trunks e Krillin destroem o laboratorio do Dr. Gero. Descobrimento da maquina do tempo de Cell.

  h2 (12 de maio)
  p Aparecimento de Cell. Piccolo e Kamisama se fusionam. Goku se recupera de sua enfermidade.

  h2 (16 de maio)
  p Cell absorve a A-17 e da um novo passo para a perfeicao. Vegeta derrota a Cellmas deixa que absorva a pobre A-18. Cell alcanca a perfeicao absoluta. Goku e Gohan entram na Sala do Espirito do Tempo

  h2 (17 de maio)
  p O bioandroide perfeito anuncia o Cell Game. Goku e Gohan saem da Sala do Espirito do Tempo. E a vez de Vegeta entrar na Sala.

  h2 (19 de maio)
  p Goku e sua familia passam um dia em High King. Ao entardecer, o exercito do rei e destruido por Cell. Dende se torna o novo Kami-Sama. Depois de Vegeta, Trunks e o seguinte a entrar na Sala do Espirito do Tempo.

  h2 (26 de maio)
  p Ao meio dia se inicia o Cell Game. Gohaan alcanca o nivel 2 de super saiyajin. Goku teletransporta Cell para o planeta de Kaioh Sama. Kaioh e destruido e Goku, Kaioh Sama, Gregory e Bubbles morrem na explosao. Cell se auto regenera, volta a Terra e mata Trunks. Gohan destroi Cell

  h2 (27 de maio)
  p Trunks revive. Se celebra o funeral de Goku e Trunks do futuro volta a sua linha temporal.

  h2 (junho)
  p Em outro mundo, Goku chega ao novo planeta de Kaioh Sama. Kaioh do norte organiza para os mortos o primeiro Torneio de Artes Marciais do Outro Mundo. Goku e Pike han disputam a final vencida por Goku. O pequeno Trunks de nossa linha temporal comeca a andar.

  h2 768
  p Nascimento de Son Goten

  h2 770
  p Kurilin e A-18 se casam

  h2 771
  p Nasce Marrom, filha de 18 e Kurilin.

  h2 773
  p Kaioh Shin e Kibito descobrem o paradeiro da esfera em que se encerra Majin Boo.

  h2 774 (28 de marco)
  p Son Gohan entra na Orange Star high school.

  h2 (7 de abril)
  p Um misterioso guerreiro combate o crime em Satan City. Videl desconfia de Gohan. Este pede para Bulma ocultar sua identidade e em 5 horas e 12 minutos a mae de Trunks constroi um relogio que permite mudar de aspecto e transformar-se em Great Saiyaman. Great Saiyaman comeca a combater o crime permanecendo calado.

  h2 (8 de abril)
  p Apesar de tudo Videl descobre a verdadeira identidade de Great saiyaman.

  h2 (9 de abril)
  p Videl pede a Gohan pede a Gohan que lhe ensine a voar. Kaioh do sul visita a Goku enquanto ele treina.

  h2 (10 de abril)
  p Vegeta e o pequeno Trunks comecam seu treinamento. Trunks revela que pode transformar-se em super saiyajin.

  h2 (20 de abril)
  p Videl controla a tecnica de voar.

  h2 (7 de maio)
  p Comeca o 25° torneio de artes marciais. Goku volta do outro mundo com a condicao de permanecer na Terra um so dia. Majin Boo e libertado. Dirigido por Babidi, Boo comeca sua onda de assassinatos. Goku alcanca o nivel super saiyajin e enfrenta a Boo. Goku regressa ao outro mundo. Ro Kaioh Shin e libertado da espada-Z. O treinamente de Gohan e incrementado por Ro Kaioh Shin.

  h2 (8 de maio)
  p O poder de Boo acaba com a humanidade por completo. Piccolo, Gotenks e Gohan enfrentam a Boo. Ro Kaioh Shin sacrifica sua vida para trazer goku de volta a vida. Vegeta regressa do outro mundo por um so dia. Boo destroi o Planeta Terra. O poder de Porunga reconstroi a Terra e devolve a vida de todos os seus habitantes. Vegeta e Ro Kaioh Shin revivem. A humanidade por completo ajuda a Goku a criar um Cho Genkidama com poder suficiente para destruir Boo. Finalmente, a inteligencia de Vegeta e o poder de Goku eliminam a ameaca de Boo.

  h2 (7 de setembro)
  p O poder de Shen Long faz as pessoas da terra esquecer o que aconteceu a parte "boa" de Boo, agora conhecido como Mr. Boo.

  h2 778 (7 de maio)
  p Comeca o 26° torneio de artes marciais. O campeao e Mr. Satan. O vice campeao e Mr. Boo

  h2 779
  p Nascimento de Pan, filha de Gohan e Videl

  h2 780
  p Nascimento de Bra, filha de Bulma e Vegeta

  h2 781 (7 de maio)
  p Comeca o 28° Torneio de Artes MArciais. O campeao e Mr. Satan e o vice campeao e Mr. Boo.

  h2 784 (7 de maio)
  p Comeca o 28° Torneio de Artes MArciais . Goku e Uub abandonam o torneio e Pan derrota Son Goten no torneio.

  h2 794
  p Finaliza e treinamento de Uub. Pilaf assalta o palacio de deus em busca das dragons ball. Son Goku reverte seu estado de menino. Goku, Pan e Trunks iniciam sua grande viajem pelo espaço.
