extends ../../templates/content

block append meta
  - self.title = 'Dicionário Z'
  - self.description = 'Significados de vários termos utilizados durante os episódios de Dragon Ball.'

block inner-content
  h2 A

  h3 Andróides
  p São os andróides criados por Dr. Gero. No futuro de Trunks foram responsáveis pela destruição da Terra.
  h3 #8
  p Também conhecido como Oitavo, apareceu em Dragon Ball para acabar com Goku mas acabou se tornando amigo dele.
  h3 #16
  p Outro Andróide da Red Ribon, morreu enfrentando Cell.
  h3 #17
  p Parceiro da Andróide #18, no qual são os mais poderosos, responsáveis pela morte dos Guerreiros Z no futuro de Trunks.
  h3 #18
  p Um Andróide mulher que também aterrorizava a Terra no futuro de Trunks, depois acabou se casando com Kuririn.
  h3 #19
  p Gordo e Azul é outro Andróide Red Ribon. Lembra muito pessoas chinesas.
  h3 #20
  p Esse andróide é na verdade o próprio Doutor Gero, que se reconstruiu como Andróide para ter poder e não morrer de velhice.
  h3 Air Car
  p Esse carro se parece com o carro dos Star Wars, anti-gravidade, controle em joystick é uma barreira protetora.


  h2 B

  h3 Baba
  p também conhecida como Velha Uranai, é uma bruxa, irmã do Mestre Kame.
  h3 Baby (Bebi)
  p Sobrevivente do planeta Plant, conquistado pelos Saiyajins, Baby tentou se vingar transformando lentamente os habitantes da Terra em zumbis. Ele também recriou seu planeta usando as Dragon Balls, e tomou posse do corpo de Vegeta transformando-se em Vegeta-Bebi.
  h3 Bardock
  p É o pai de Goku, foi morto por Freeza.
  h3 Bubbles
  p O macaco do Sr. Kaio, e primeiro obstáculo a ser enfrentado por aqueles que querem receber o treinamento dele.
  h3 Bulma
  p Uma personagem central, aparece em DB, DBZ e DBGT, foi responsável pelo início da aventura de Goku, teve dois filhos, ambos com Vegeta: Trunks e Bra.
  h3 Budokai, Torneio
  p A competição dos maiores lutadores da Terra, onde ficamos conhecendo Ten Shin Han, Chaoz, Piccolo e muitos outros.
  h3 Boo
  p Extremamente poderoso foi revivido pelo Mago Babidi, e foi responsável destruição de meio Universo.
  h3 Broli
  p conhecido como "O lendário Super Saiyajin" só pode ser visto em Especiais, é um ser altamente poderoso.
  h3 Babidi's Spaceship
  p é a nave de Babidi ( hehe )é enorme e tem seis leveis.
  h3 Battle Jacket
  p Uma jaqueta criada pelo Dr. Gero para aumentar a força. Usada pela forças Red Ribbon.
  h3 Beam Gun
  p s soldados inferiores do Freeza usam essa arama. Ela lança pequenas bolas energéticas, mas o KI dessas energias são baixos, só pessoas indefesas podem ser atingidas
  h3 Boomerang
  p Um bumerangue usado por Tao pai pai para pegar Goku. É preto e colorido.
  h3 Bunny Suit
  p Bulma usa isso para se vestir nos lugares onde o Oolong fica.
  h3 Bra
  p filha de Bulma e Vegeta, irmã mais nova de Trunks. Mesmo tendo sangue de sayajin, é igualzinha a mãe, só gosta de compras, nada de lutas.


  h2 C

  h3 Cargo
  p o irmão mais novo de Dende, morto por Freeza.
  h3 Capsule Corp
  p Empresa da família Briefs (responsável pela criação das cápsulas Hoy Poy), que em Dragon Ball GT será comandada por Trunks .
  h3 Cápsulas Hoi Poi
  p Criadas pelo pai de Bulma, um grande cientista, as cápsulas Hoi Poi podem guardar qualquer coisa, pequena como um clips de papel ou grande como uma nave espacial.
  h3 Caminho da Serpente
  p uma estrada com mais de 100 mil quilômetros, localizada acima do Inferno e que deve ser percorrida por aqueles que querem treinar com o Sr Kayo.
  h3 Cell
  p A força em pessoa, possui as células de Gohan, Goku, Piccolo e Vegeta, tem as habilidades de todos os guerreiros Z.
  h3 Chaoz
  p O melhor amigo de Ten Shin Han, foi morto pela segunda vez na batalha contra os Saiyajins.
  h3 Chi Chi
  p Mulher de Goku, que ainda criança ele jurou que iria se casar com ela (pensava que casamento era coisa de comer) e então aos 18 anos casaram.
  h3 Cold
  p O pai de Freeza e Koola.
  h3 Camouflaged Spaceship
  p Bulma, Gohan e Kuririn acidentalmente foram pegos por esta nave. Ela era habitadas por garotos que tiveram seus planetas destruídos pelos Saiyajins.
  h3 Capsule Refrigerator
  p Essa capsula refrigeratória é usada por Future Trunks depois de matar Freeza. É do tamanho de um computador normal, tem uma bateria e tem o número "2031" na porta.
  h3 Capsule Sword
  p Uma das armas de Tao Pai Pai, a capsula desta espada é curvada como uma espada de um samurai.
  h3 Crystal Ball
  p Babidi e Vovó Uranai tem uma dessas bolas de cristal. Você pode usa-las para várias coisas, calcular poderes e ver o que está acontecendo em um lugar específico.


  h2 D

  h3 Dragon Balls
  p Conhecidas também como Esferas do Dragão, quando reunidas invocam o poderoso Shen Long, um Dragão gigante capaz de realizar praticamente qualquer desejo.
  h3 Dende
  p Uma criança Namekuseijin, foi salvo por Gohan e Kuririn das mão de Freeza, possui poderes de cura. Com a fusão de Piccolo e Kami-sama, Dende se torna o novo Deus da Terra.
  h3 Dodoria
  p Guarda-Costas pessoal de Freeza. Apesar de possuir um poder de luta alto para a época, foi facilmente derrotado por Vegeta.
  h3 Dagger
  p Um dos cyborgs de Tao Pai Pai. É uma arma secreta dele.
  h3 Denshi Jar
  p Esse é um contêiner usado para manter o Piccolo longe das Dragon Balls. Tem duas diferentes versões, uma é um container parecido com uma caixa de leite e a outra é um jarro. Ela possui poderes mágicos para pegar outros quando corretamente usado.


  h2 E

  h3 Enma Daioh
  p foi o primeiro a percorrer o Caminho da Serpente e a ser treinado pelo Sr. Kaio. Também cabe a ele julgar as pessoas que morrem.
  h3 Egg Shell
  p Esse é um pequeno ovo onde tem o Majin Buu dentro.
  h3 Emergency Stop Controller
  p É um controle criado por Dr. Gero para parar os Andróides em caso de emergência.
  h3 Energy Meter
  p O medidor de energia é usado por Babidi e Dabura para ver qual o aumento de energia do Majin Boo.


  h2 F

  h3 Freeza
  p Dono de boa parte do Universo, um ser altamente poderoso, que aumenta seu poder de forma assustadora após sofrer transformações.
  h3 Fusão
  p essa técnica é capaz de juntar duas pessoas numa só. As pessoas precisam ter aproximadamente a mesma estatura, e é conseguida através de uma espécie de "dança", onde os dois seres a serem fundidos precisam fazer os mesmos movimentos. Após 30 minutos, a fusão é desfeita.
  h3 Fighting Jacket (Saiya-jin Battle Armor)
  p Este é um tipo de armadura que todos os Saiya-Jins e soldados do Freeza usam. Ela protege muito mais do que qualquer armadura, e elas são bem flexíveis e resistentes.


  h2 G

  h3 Genki Dama
  p é a técnica secreta do Sr. Kaio, e consiste em usar a energia dos seres vivos de um planeta para a formação de uma imensa bola de energia. É um dos golpes mais poderosos de Dragon Ball Z.
  h3 Ginyu, Forças Especiais
  p a equipe de elite de Freeza, cada um possui uma imensa força além de uma habilidade especial. O líder, Ginyu, tem a habilidade de trocar de corpo com o adversário.
  h3 Goku
  p o personagem principal de toda a saga de Dragon Ball, Goku começou suas aventuras ao conhecer Bulma. Salvou a Terra várias vezes, morreu e voltou da morte 2 vezes e teve 2 filhos, Gohan e Goten.
  h3 Gohan
  p o primeiro filho de Goku e Chi-chi, é o saiyajin mais poderoso do universo (sem contar com os "fundidos" Gogeta e Vegeto). Apesar de seu grande poder, Gohan prefere estudar a lutar. Na adolescência, alcança os níveis de Super Saiyajin 1 e 2. Na vida adulta, Gohan não pode se tornar um Super Saiyajin pois seu imenso poder destruiria a Terra.
  h3 Goten
  p ao contrário de Gohan, o segundo filho de Goku não é tão forçado a estudar e recebe treinamento desde criança. Muito parecido com o pai na infância, Goten vive se metendo em apuros com Trunks
  h3 Gotenks
  p a fusão de Goten e Trunks, dono de um imenso poder.
  h3 Gregory
  p assistente do Sr. Kaio, e segundo estágio no treinamento dele. O candidato deve acertar a cabeça de Gregory com um martelo.
  h3 Gameboy
  p Este é uma espécie de video-game que o Mr. Satan(pai da Videl) usa.


  h2 H

  h3 Hoi Poi, Cápsulas
  p criadas pelo pai de Bulma, um grande cientista, as cápsulas Hoi Poi podem guardar qualquer coisa, pequena como um clips de papel ou grande como uma nave espacial.


  h2 K

  h3 Kakarotto
  p O verdadeiro nome de Goku.
  h3 Kame, Mestre
  p também conhecido como Kame Senin, foi o primeiro mestre de Goku e do Kuririn. Também treinou o Avô de Goku, Son Gohan e o pai de Chi Chi, o Rei Cutelo. Curiosidade: adora revistas pornograficas
  h3 Kamehameha
  p Um dos mais fortes golpes de Goku, e um dos mais usados em toda a série.
  h3 Kami Sama
  p Foi mandado a Terra, antes do fenômeno atmosférico de Namekusei, é o criador das Esferas do Dragão da Terra.  Karín, Mestre: Um mestre em forma de gato.
  h3 Koola
  p O irmão de Freeza.
  h3 Kuririn
  p Um dos terráqueos mais fortes, e melhor amigo de Goku, na segunda fase ele se casa e tem uma filha com #18.


  h2 L

  h3 Lunch
  p durante a primeira fase, Goku e Kuririn precisaram arranjar uma empregada para o Mestre Kame. Encontraram Lunch, uma garota morena e bonita, educada e ótima cozinheira, mas quando espirra, ela se torna loira, má e extremamente violenta. É apaixonada por Ten Shin Han.


  h2 M

  h3 Maron
  p A filha de Kuririn e da número #18.
  h3 Masenko
  p Técnica utilizada por Piccolo, Gohan, Goku, etc...


  h2 N

  h3 Namekusei
  p Planeta originário das Esferas do Dragão e de Piccolo, Kami Sama e Dende.
  h3 Nail
  p Se fundiu com Piccolo para aumentar seu poder após ser quase que eliminado por Freeza, ao tentar salvar ao Patriarca.
  h3 Nappa
  p Um dos últimos Saiyajins, matou a Ten Shin Han, Piccolo e Chaoz. Mesmo com seu imenso poder, foi facilmente derrotado por Goku após seu treinamento com o Sr. Kaio, e morto em seguida por Vegeta.


  h2 O

  h3 Oolong
  p Um porquinho amigo de Goku, apareceu logo no início da Dragon Ball.


  h2 P

  h3 Pan
  p É a neta de Goku, filha de Gohan, também é uma Saiyajin.
  h3 Pilaf
  p Foi o primeiro inimigo de Goku, que também procurava pelas Esferas do Dragão.
  h3 Piccolo
  p Outrora o maior inimigo de Goku, se tornou o mentor de Gohan quando os saiyajins estavam se dirigindo para a Terra. Um ser extremamente poderoso, que pode até regenerar membros perdidos. Após o treinamento de Gohan, Piccolo começa a pender para o lado do bem.
  h3 Planeta Vegeta
  p Era o planeta dos Saiyajin até que Freeza e seus Homens o destruiram completamente.
  h3 Popo, Sr.
  p O melhor amigo e assistente de Kami Sama, apesar da aparência é um lutador muito habilidoso.
  h3 Pual
  p Amigo inseparável de Yamcha.Ele pode se transformar em qualquer coisa


  h2 R

  h3 Radar do Dragão
  p O Dragon Radar é usado para procurar as Dragon Balls. Eles indicam se você está perto ou não e onde estão. Ele lhe mostra a localização de todas as Dragon Balls! Com um simples botão no topo, você pode ampliar o local ou diminuir para saber exatamente a distâcias delas. Ele também calcula se a Dragon Ball se movimenta.
  h3 Raditz
  p Irmão mais velho de Goku, é o Saiyajin mais fraco dos que restaram após a destruição do planeta Vegeta.
  h3 Red Ribbon
  p organização criminosa que também quer as Dragon Balls. Teve uma participação importante na primeira fase de Dragon Ball. Um dos seus cientistas, o Dr. Gero, criou Cell e deu muito trabalho para os Guerreiros Z em Dragon Ball Z.


  h2 S

  h3 Saibaman
  p guerreiros auxiliares dos saiyajins, tem poder de luta relativamente baixo (1,200), e nascem através de sementes.
  h3 Satan
  p Sogro de Gohan, tem a fama de sempre levar os privilégios pelas batalhas vencidas pelos Guerreiros Z.
  h3 Shen Long
  p O Deus Dragão formado pelas Esferas do Dragão e que realiza qualquer desejo a quem conseguiu reuní-las, desde que esse desejo não passe o poder de seu criador.
  h3 Super Saiyajin
  p Após um treinamento muito árduo, depois de se emocionar muito, um Saiyajin é capaz de alcançar um novo nível de poder, o de Super Saiyajin.


  h2 T

  h3 Ten Shin Han
  p Um dos Guerreiros Z venceu um dos Tenkaichi Budokai, ele e seu inseparável amigo Chaoz se comunicam telepaticamente.
  h3 Trunks
  p O primeiro filho de Vegeta e Bulma, um ser altamente poderoso por possuir sangue Saiyajin.
  h3 Toryama, Akira
  p o criador de Dragon Ball, e um dos autores mais famosos do Japão. Toryama também é um grande "caracter designer", e é responsável pelo visual das séries Dragon Quest (As aventuras de Fly) e da série de jogos Crono Trigger


  h2 V

  h3 Vegeta
  p O Príncipe dos Saiyajins, Vegeta é um dos mais poderossos, se torna aliado de Goku em Namekusei, pouco antes de ser morto por Freeza.
  h3 Videl
  p  a namorada de Gohan, a quem conheceu no colegial e, anos mais tarde, casou e teve uma filha chamada Pan. Gohan a ensinou a voar e a lutar, mas Videl não é capaz de manipular energia. Curiosidade: Videl é um anagrama para a palavra Devil (demônio, em inglês).


  h2 Y

  h3 Yajirobe
  p um rapaz gordo, fraco e covarde, Yajirobe não gosta de lutar e vive comendo. Foi ele quem cortou o rabo de Vegeta, num momento raro de bravura.
  h3 Yamcha
  p Um dos humanos mais poderosos da Terra, era um ladrãozinho em Dragon Ball, achava que as Esferas do Dragão valiam alguma coisa, mais tarde se torna amigo de Goku. É o personagem que mais muda o corte de cabelo junto com a Bulma


  h2 Z

  h3 Zarbon
  p O segundo Guarda-Costas de Freeza, mais forte que Dodoria, principalmente quando se transforma em um mostro horrível.
