extends ../../templates/content

block append meta
  - self.title = 'Dragões'
  - self.description = 'Conheça os famoso dragões responsáveis pela realização de desejos no anime.'

block inner-content
  h2 Shen Long
  img.image-right(src='/assets/images/conteudo/var_dra_002.gif', alt='Shen Long')
  p Shen long é o Dragão da Terra, criado por Kami Sama. Quando as setes Dragon Balls são reunidas e são ditas as palavras apropriadas, Shen long aparece e concede o primeiro desejo que lhe é pedido, não se pode reviver pessoas que já foram revividas, ou já tenha passado mais de um ano da sua morte. Normalmente, os desejos mais pedidos são a imortalidade e fazer com que mortos revivam. Um grande problema é que caso o criador das esferas morra, o dragão também acaba morrendo. Porém, se o dragão morre, é muito fácil fazer com que ele reviva. Quando Dendê se torna Kami Sama, ele melhora as esferas do dragão para que Shenlong realize dois desejos por invocação, no lugar de um, mas mantendo as regras de antes.
  
  h2 Porunga
  img.image-right(src='/assets/images/conteudo/var_dra_001.gif', alt='Porunga')
  p Equivalente a Shenlong, porém um pouco diferente, Porunga é cinco vezes maior e possui uma aparência mais humana. É criação do Patriarca, o líder de Namekusei. Porunga pode cumprir três desejos, e ele também pode ressuscitar uma pessoa mais de uma vez, sem importar o tempo que ela já morreu, porém não se pode reviver mais de uma pessoa por pedido, nem pessoas que morreram de morte natural. Tanto a invocação como a realização dos desejos devem ser pedidos na língua de Namekusei. Depois de realizado os três desejos, as esferas não se espalham, mas sim, voltam em direção ao seu criador, e podem serem usadas novamente depois de 130 dias.
