extends ../../templates/content

block append meta
  - self.title = 'Entrevista Akira Toriyama'
  - self.description = 'Entrevista exclusiva com Akira Toriyama.'

block inner-content
  p #[strong Mundo DBZ]: Porque você escolheu criar histórias em lugares inexistentes?
  p #[strong Akira Toriyama]: Porque e muito mais fácil dessa maneira. E por causa que eu escolhi fundamentalmente a maneira mais fácil. Se tivesse escolhido a do mundo real, eu teria que olhar coisas reais antes de desenhar qualquer coisa. Como prédios, veículos e coisas do tipo, e se eu modificasse qualquer coisa um pouquinho as pessoas iam reclamar.
  p &nbsp;
  p #[strong MZ]: Você nunca olha coisas reais quando você desenha paisagens?
  p #[strong Toriyama]: Normalmente não. Eu costumo olhar construções chinesas e coisas do tipo. Quando comecei a fazer Dragon Ball, eu queria fazer uma coisa totalmente diferente de Dr. Slump, porque eu senti que Dr. Slump tinha estilo muito americano, e eu queria fazer uma coisa mais oriental dessa vez. Minha esposa era muito interessada na china e eu desenhei coisas que eu havia visto em fotos de lá que ela havia comprado. Depois disso eu comecei a desenhar muita coisa que eu havia pensado baseado nessas fotos incluindo o Tenkaichi Budokai, estádio de luta. Antes de começar a publicar, eu fui pra ilha de bali com minha família. Ai eu modelei a ilha de Tenkaichi Budokai, a ilha papayam, baseada nela. E comecei a fazer os prédios e construções baseadas nas fotos que trouxe de lá. Mas foi muito difícil, por isso eu usei mais o palco das lutas que os cenários a volta dele, foi difícil usar cenários já criados. 
  p &nbsp;
  p #[strong MZ]: Campos são paisagens totalmente diferentes, não são?
  p #[strong Toriyama]: Sim isso mesmo, eu desisti de usar montanhas e coisas do tipo, eu pensei muito a respeito de que tipo de cenário usar. Teria que usar um certo cenário que nunca havia usado antes porque senão seria muito chato usar o mesmo cenário sempre.
  p &nbsp;
  p #[strong MZ]: Você usou muitos cenários desabitados, não é mesmo?
  p #[strong Toriyama]: Se eu tivesse que desenhar Goku e os outros lutando em cidades seria muito difícil. Eu teria que desenhar as pessoas que vivem nessa cidade, os prédios e coisas do tipo. Por isso coloco eles lutando em campos desabitados. Uso muitos closes e eles usam o bukujutsu pra voar e se todos os amigos do Goku voassem seria muito mais fácil de fazer a história.
  p &nbsp;
  p #[strong MZ]: As cenas de batalhas são muito difíceis de serem feitas, não são?
  p #[strong Toriyama]: Sim, porque eu posso fazer elas serem iguais sempre. No começo quando Goku era pequeno, era bem fácil mas mais pra frente começou a ter mais e mais lutas, aí eu tive que começar a pensar em criar técnicas novas de combate e coisas do tipo. Foi muito divertido desenhar a luta entre Majin Boo e Gotenks. Eu tive que criar muitos ataques especiais hilários.
  p &nbsp;
  p #[strong MZ]: Como você pensa nos nomes desses ataques especiais?
  p #[strong Toriyama]: Normalmente eu não gosto de pensar nos nomes dos ataques. Numa luta de verdade você não fica dizendo o nome dos golpes que usa, fica? Enquanto você fala o nome do ataque, acaba morto! Mas é divertido ficar criando nomes para os ataques. Minha esposa que criou o kamehameha porque eu estava dizendo Kame Sennin tinha um ataque especial e tinha que ser alguma coisa "HA" e minha esposa disse: "porque não kamehameha?". Foi o máximo, soou muito bobo e encaixou certinho com o perfil de Kame Sennin, e assim começou os nomes de golpes, o de Vegeta são sempre em inglês e os de Piccolo em kanji.
  p &nbsp;
  p #[strong MZ]: Quando você criou Piccolo, você planejou que ele seria um alien de Namekusei?
  p #[strong Toriyama]: Não, na verdade foi como os sayajins. Quando dei a Goku um rabo estava apenas pensando dele ser um macacão. Eu não havia pensado em Goku ser um alien. A mesma coisa aconteceu com Piccolo. Estava pensando ele ser como Kami Sama quando o criei. Não gosto de pensar em todo o futuro de um personagem de uma só vez.
  p &nbsp;
  p #[strong MZ]: Se pudesse nascer outra vez, que personagem gostaria de ser?
  p #[strong Toriyama]: Trunks. Ele é muito rico, pode comprar muitos brinquedos e é poderoso. É o melhor.
  p &nbsp;
  p #[strong MZ]: De todos os personagens, qual deles é o mais carismático?
  p #[strong Toriyama]: Goku. É muito puro e um dos mais fortes do universo. Ele é o número um no departamento onde trabalho. Todos gostam dele.
  p &nbsp;
  p #[strong MZ]: E o mais exigente na comida?
  p #[strong Toriyama]: Mr. Satan. Penso que ele gosta de comida cara. Ele é do tipo de pessoa que pensa que a comida cara é a melhor.
  p &nbsp;
  p #[strong MZ]: E o mais tímido?
  p #[strong Toriyama]: Piccolo. Acho que a raça dos Namekuseijins é a mais tímida.
  p &nbsp;
  p #[strong MZ]: Qual personagem está mais dentro da moda?
  p #[strong Toriyama]: Trunks. Pensava que era a Bulma, mas quando ela chegar a ser velha irá vestir roupas muito antiquadas.
  p &nbsp;
  p #[strong MZ]: Quem é mais maluco?
  p #[strong Toriyama]: Mestre Kame. Tinha mesmo de ser ele. Não é óbvia a sua perversão a toda à hora?
  p &nbsp;
  p #[strong MZ]: Dos prédios que desenhou, qual prefere?
  p #[strong Toriyama]: A Torre de Karin. É um lugar muito interessante, apesar de assentar num pilar fino. Tem um ar de (des)equilibrado. Gosto da idéia deste design não poder existir na vida real.
  p &nbsp;
  p #[strong MZ]: Onde gostaria de morar?
  p #[strong Toriyama]: Na casa do Kame. Se a ilha fosse um pouco mais larga e se a casa do Kame fosse do tamanho da corporação Cápsula, gostaria ainda mais.
  p &nbsp;
  p #[strong MZ]: Qual dos truques gostaria de poder fazer?
  p #[strong Toriyama]: Bukujutsu. Seria maravilhoso conseguir voar sem ajuda de ninguém. Também gostaria de fazer o  Shunkanido, porque assim ia a qualquer lado bastando, para isso, pensar no local desejado.
  p &nbsp;
  p #[strong MZ]: De todas as técnicas, qual a sua preferida?
  p #[strong Toriyama]: Gosto muito do kamehameha, principalmente porque foi a minha mulher que deu a idéia do nome.
  p &nbsp;
  p #[strong MZ]: De todas as invenções que apareceram em Dragon Ball, qual é a que gostaria de ter?
  p #[strong Toriyama]: As Cápsulas Hoípoi. São ótimas. Porque com elas não teria dificuldade em estacionar. Muito convenientes. E podemos colocar quase tudo lá dentro. 
