extends ../../templates/content

block append meta
  - self.title = 'Esferas do Dragão'
  - self.description = 'Confira detalhes sobre cada esfera do dragão.'

block inner-content
  p Quando as 7 Dragon Balls ficam reunidas, surge um Dragão que lhe dá direito de fazer qualquer desejo, desde que esteja ao alcance do poder de seu criador. Se fizer algum pedido para o Dragão que esteja fora do poder de seu criador, este pedido se torna impossível. Depois do pedido as Dragon Balls se espalham pelo mundo e viram pedra. Um ano depois elas recuperam o seu poder. Caso seu criador morra, as esferas perdem seu poder.

  h2 As Dragon Balls de Namekusei
  p As Dragon Balls de Namekusei são muito maiores que as da Terra porém para fazer a invocação do Dragão e fazer seus pedidos é necessário saber a lingua de Namek. O Dragão dessas Dragon Balls dá o direito a 3 pedidos. Seu nome é Porunga. A diferença das Dragon Balls de Namek é de poder ressucitar uma pessoa quantas vezes quiser desde que não seja por morte natural. As esferas voltam a atividade depois de 3 meses. 

  h2 Os 7 dragões das Black Star Dragon Balls
  p Quando as Dragon Balls da Terra ficam acumuladas de energia negativa aparecem 7 dragões, sendo representados por cada esfera. Li Shenron, Su Shenron, Chi Shenron, etc.. Cada dragão tem sua própria habilidade, Su Shenron (Fogo), ChiShenron (Terra). Chii Shenron foi criado quando pediram para ressucitar as vitimas de Majin Vegeta enquanto estava possuido por Babidi. Aqui esta a lista de dragões:
  p O dragão invocado com as Black Star Dragon Balls é chamado de Kokuen ou Ryu.

  h3 Ii Shenron
  p Possui a esfera de uma estrela e surge com o desejo de salvar todos os Namekusei-jins de Freeza. É o mais poderoso.


  h3 Ryan Shenron
  p Possui a esfera de duas estrelas e surge com o desejo de ressucitar Bora. Seu poder é a poluição.


  h3 San Shenron
  p Possui a esfera de três estrelas e surge com o desejo de reconstruir a Terra depois da morte de Boo. Seu Poder é o Frio.


  h3 Suu Shenron
  p Possui a esfera de quatro estrelas e surge com o desejo de rejuvenecer Piccolo. Seu poder é o calor.


  h3 Uu Shenron
  p Possui a esfera de cinco estrelas e surge com o desejo de ressucitar Goku. Seu poder é a Eletricidade.


  h3 Ryu Shenron
  p Possui a esfera de seis estrelas e surge com o desejo de Oolong. Seu poder é o vento.


  h3 Chii Shenron
  p Possui a esfera de sete estrelas e surge com o desejo de ressucitar todos os mortos por Vegeta enquanto estava possuído por Babidi. Seu poder é o Terremoto.
