extends ../../templates/content

block append meta
  - self.title = 'Falhas'
  - self.description = 'Diversas falhas de continuidade percebidas em Dragon Ball.'

block inner-content
  h2 Sangue azul
  p No começo de Dragon Ball Z, Piccolo perde o braço na luta contra Raditz, seu sangue é vermelho, só que, nas outras batalhas seu sangue é Azul.
  
  h2 Vegeta tinge o cabelo?
  p Também no começo de Dragon Ball Z, Vegeta aparece com armadura laranja, cabelos castanhos e olhos castanhos. Mas quando eles chegam na Terra, ele está com cabelos pretos, armadura azul e olhos pretos.
  
  h2 Confusão de uniforme
  p Na luta contra Freeza, Kuririn está com armadura dos homens de Freeza, mas quando Goku chega e os manda-os se afastar de lá, ele aparece com o macacão laranja chamando o Gohan.
  
  h2 Erro de continuidade
  p Ainda na luta contra Freeza, Goku tira a parte laranja da roupa, só que na outra cena ele aparece vestindo a parte laranja que tirou.
  
  h2 Saiyajin azul?
  p Todos Sabemos que as características dos Sayajins são: Cabelos Pretos, olhos pretos e aspecto físico parecido com o dos humanos. Mas no treinamento de Goku, quando Sr. Kaio lhe falava sobre os Sayajins, apareceu rapidamente um Sayajin de pele azul.
  
  h2 Todos, menos aqueles dois
  p Quando todos os mortos por Freeza são revividos, dois capangas que Freeza matou não revivem.
  
  h2 Lua #[em respawn]
  p No 22º Tenkaichin Budokai, Goku se transforma em Oozaru, mestre Kame destrói a Lua, só que na saga de Raditz, a lua aparece de novo, intacta, e Piccolo a destrói de novo.
  
  h2 Dentes sim, dentes não
  p Kuririn e Gohan atacaram Rikum quando ele soltou uma bola de energia e os dentes de Rikum quebraram. Só que durante o resto da Luta, ele aparecia às vezes com os dentes.
  
  h2 Todos ou só um?
  p Já na saga de Boo, quando eles vão pedir um desejo a porunga para ressucitar todos os mortos por Boo, lembram-se que porunga só é capaz de ressucitar uma pessoa, mas na saga de Freeza eles ressucitaram todos os assassinados por Freeza sem problemas.
