extends ../../templates/content

block append meta
  - self.title = 'Goten'
  - self.description = 'Biografia completa de Goten, irmão de Gohan e filho de Goku.'

block inner-content
  img.image-left(src='/assets/images/conteudo/bio_goten_001.jpg', alt='Goten')
  p Em 767 d.C, em meio as batalhas contra Cell, nasce Goten, o segundo filho de Goku e Chi-Chi. Enquanto Goku estava no Outro Mundo (ele já havia morrido ao enfrentar Cell) e Gohan estava na escola, Chi-Chi tratou de educar Goten e também iniciar seu treinamento.
  p Aos sete anos, Goten começa a treinar com Gohan para o 25º Torneio de Artes Marciais. Para a surpresa de Gohan, seu irmão caçula já consegue alcançar o nível de Super Saiyajin, graças ao pré-treinamento ministrado por Chi-Chi. Videl, depois de descobrir que Gohan era o Grande Sayaman, também começa a treinar com Goten. Os dois, então, aprendem a voar.
  p Em 774 d.C, Goten e o "pequeno" Trunks se inscrevem na competição infantil do 25º Torneio de Artes Marciais. Mas eles queriam mesmo era lutar contra os adultos. Antes do início do torneio, Goten finalmente conhece o seu pai, Goku, que veio participar da competição - mas ele ficaria apenas um dia na Terra.
  p Goten se classifica facilmente para a grande final contra Trunks.
  p A luta final é entre Goten e Trunks. Antes da competição eles combinam que não usariam seus poderes de Super Saiyajins, mas não foi o que aconteceu.
  p O filho de Goku foi o primeiro que usou sua super força para tentar vencer.
  p Trunks é mais esperto e, usando seus poderes de Super Saiyajin, dispara uma rajada de energia forte suficiente para tirar Goten do tatame e se consagrar campeão da categoria infantil do 25º Torneio de Artes Marciais.
  p Goten ficou chateado com Trunks por este ter "trapaceado" para vencer. Para ficar tudo bem, o filho de Vegeta diz que daria alguns brinquedos para o amigo como compensação. Em seguida, eles decidem que precisavam entrar na competição adulta. A dupla nocauteia o lutador Mighty Mask e vestindo a sua fantasia se faz passar por ele na fase final do Torneio dos adultos. Antes de lutarem, Spopovitch e Yan revelam ser enviados de Babidi para roubar energia dos mais poderosos guerreiros para ressuscitar o demônio Majin Boo. Eles drenam a energia de Gohan e fogem.
  img.image-right(src='/assets/images/conteudo/bio_goten_002.jpg', alt='Goten')
  p Enquanto os Guerreiros Z perseguem os dois vilões, Goten e Trunks - ou melhor, o Mighty Mask - continua no Torneio. Ele vence facilmente o lutador Killer.
  p A luta seguinte da dupla, é contra a Nº 18. Em meio à batalha, Goten e Trunks são descobertos e desclassificados.
  p Fora do Torneio, a dupla decide ir ajudar os Guerreiros Z contra Babidi e Dabura.
  p A dupla chega no momento em que Vegeta estava quase sendo derrotado por Majin Boo, que havia sido libertado. Eles ajudam o Príncipe dos Saiyajins, mas este se sacrifica em seguida tentando matar o vilão.
  p Diante do poder de Boo, Goku, antes de voltar para o Outro Mundo, ensina a técnica da fusão para Goten e Trunks. Mas a dupla não consegue se fundir, e o herói vai embora.
  p Após algumas tentativas fracassadas, Goten e Trunks conseguem se fundir com a ajuda de Piccolo. Eles se transformam em Gotenks. Nesta forma, alcançam o nível de Super Saiyajin 3.
  p Como Gotenks SSJ3, a dupla tenta vencer Majin Boo, mas acaba absorvida pelo vilão.
  p Já havia se passado dez anos desde o termino da fase Z. Estamos em Dragon Ball GT. Durante esta nova etapa das aventuras de Goku, Goten, já adolescente, pouco participa. Ele chega a dar uma ajuda para seu pai nas lutas contra o Super Andróide Nº 17 e contra os Shen Longs malignos.
  p.text-center: a.btn-default(href='/imagens/') Veja dezenas de imagens de Goten na nossa galeria
