extends ../../templates/content

block append meta
  - self.title = 'Kaios'
  - self.description = 'Informações de todos os Senhores Kaios responsáveis pelo equilíbrio do universo.'

block inner-content
  h2 Kaio do Norte
  p Kaio que treinou Goku, quando este tinha sido morto por Piccolo para derrotar Radtiz. Aos poucos foi sendo um personagem especial que esteve nas principais lutas de Goku, e o ensinou-o umas das suas principais técnicas (Kaio-Ken e Genki Dama), que foram usadas para defender a Terra várias vezes.
  h2 Kaio do Oeste
  p Um dos kaios que só apareceu quando Goku foi para o planeta Sagrado, e na apariação de Majin boo, foi de seu planeta que veio Pai Kuhan.
  h2 Kaio do Sul
  p Kaio que fez um teste para Goku para levantar 10 toneladas. Um de seus guerreiros foi convidado pelo Kaio do Norte para participar do torneio de Artes Marciais da Terra.
  h2 Kaio do Leste
  p Não aparece muito na série Z, só apareceu no torneio de artes marciais do outro mundo na saga dos Andróides, ela só reuniu lutadores mais fortes para lutar no torneio.
  h2 Grande Sr. Kaio
  p Também só apareceu na saga dos andróides. Foi ele que organizou o torneio do outro mundo com a promessa de treinar o vencedor.
  h2 Kaio Shin (ou Supremo Sr. Kaio)
  p Kaio de grande importancia é ele que avisa Goku sobre a ameaça de Majin Boo, sobre a espada Z de Gohan, e também por descubrir o esconderijo de Babidi, esse kaio se fundiu com Kibito e virou Kibishin.
  h2 Dai Kaio Shin
  p Esse kaio foi libertado da espada Z de 15 séculos atrás, foi ele que fez um ritual para Gohan ficar mais poderoso, deu sua vida para Goku e também lhe contou sobre a fusão com os brincos Potala.
