extends ../../templates/content

block append meta
  - self.title = 'Kuririn'
  - self.description = 'Biografia completa de Kuririn, companheiro de batalha de Goku desde a origem do anime.'

block inner-content
  img.image-left(src='#{self.cdn}/gal/paginas/bio_kuririn_001.jpg', alt='Kuririn')
  p Kuririn nasceu em 736 d.C. Quatro anos depois, o garoto começa a treinar no Templo Orinjin. Com Treze anos ele vai à ilha do Mestre Kame pedir para ser treinado pelo eremita tarado. Para convence-lo, Kuririn leva algumas revistas eróticas.
  p Mas, para aceitar treinar Kuririn e Goku também, o Mestre Kame pede que eles lhe arrumem uma companhia feminina. Após alguns fracassos a dupla leva Lunch, uma bela garota, mas de dupla personalidade. Mesmo assim, o velho safado decide treinar os garotos.
  p Em dez de setembro de 749 d.C. Kuririn e Goku começam a ser treinado pelo Mestre Kame.
  p Durante oito meses, Kuririn e Goku encaram um árduo treinamento.
  p Encerrado o treinamento, em 750 d.C., o Mestre Kame inscreve Goku e Kuririn no 21º Torneio de Artes Marciais.
  p A primeira luta de Kuririn é contra o fedorento Bactéria. O lutador ataca o garoto com seus gases fétidos, mas Kuririn resiste, e vence o combate.
  p O segundo combate de Kuririn é contra Jackie Chun, na verdade, o próprio Mestre Kame disfarçado. Desta vez o garoto acaba derrotado. Na final, Jackie Chun vence Goku também. Após o Torneio, Kuririn segue para a ilha de Kame, enquanto Goku vai em busca da Esfera do Dragão que seu avô lhe dera.
  p Kuririn volta a ajudar Goku, quando este enfrentava o General Blue, da Força Red Ribbon. O carequinha quase acabou morto pelo vilão afeminado, mas conseguiu escapar com vida.
  p Com toda a galera reunida, Kuririn e os demais se espantam ao descobrirem que Goku arrasou sozinho com toda a Red Ribbon.
  p Para ajudar Goku a reunir as esferas do dragão e ressuscitar o índio Bora, morto pelo assassino Taopaipai, Kuririn acompanha o herói, Yamcha, Poal e Upa(filho de Bora) à arena da Vovó Uranai.
  p Para que a Vovó Uranai dissesse a localização da última Dragon Ball, eles precisariam vencer seus cinco Guerreiros. Kuririn é o primeiro a lutar, mas acaba sendo vencido pelo Draculaman com uma mordida na cabeça.
  p Em 753 d.C., Kuririn toma parte do 22º Torneio de Artes Marciais na ilha Papaya. Sua primeira luta é contra Chaos, o companheiro de Tenshinhan. O carequinha mostra que agora domina a técnica do Kame Hame Ha e sai vencedor.
  p A segunda luta de Kuririn é contra Goku. Desta vez não teve jeito, e o pequeno budista acaba derrotado por seu amigo. O Torneio termina com Tenshinhan como campeão- ele vence Goku na grande final.
  p Logo após o torneio, Kuririn é morto por Tamborine, um dos monstros enviados por Piccolo Daimao para liquidar com os grandes guerreiros da Terra.
  p Graças as esferas do Dragão, Kuririn é ressuscitado. Com Piccolo supostamente morto, os herois vão tomar parte do 23º Torneio de Artes Marciais.
  p Em sua terceira participação em um Torneio de Artes Marciais, Kuririn é desclassificado logo na primeira luta. Também, pudera, ele enfrentou Má Junior, também conhecido como Piccolo Daimao. Kuririn foi um grande adversário, mas seus poderes não conseguiram superar os de seu oponente. Goku venceria Piccolo na final e ganharia pela primeira vez a competição.
  p Estamos em Dragon Ball Z. Depois que Goku morre ao vencer Raditz. Kuririn, Yamcha, Yajirobe, Tenshinhan, e Chaos vão treinar no templo de Kami Sama para enfrentar Vegeta e Nappa.
  p Kuririn e Piccolo enfrentam Nappa.
  p Kuririn tenta encarar Vegeta, só que o Saiya-jin é mais poderoso.
  p Goku, que fora ressuscitado, vence Vegeta com ajuda de Kuririn, Gohan e Yajirobe.
  p Depois de saberem da existência das esferas do dragão no planeta de Namekusei, Gohan, Kuririn e Bulma decidem ir para lá com a intenção de trazer de volta à vida os amigos mortos pelos Saiya-jins.
  p Em namekusei, Kuririn tem seus poderes aumentados pelo grande Patriarca. Ele e Gohan também conhecem Dende.
  p A dupla se alia à Vegeta para enfrentar as forças Ginyu e o terrível Freeza.
  p Nas lutas contra o super-vilão espacial, Kuririn é morto pela segunda vez.
  p Na Terra Kuririn é trazido de volta a vida graças as Dragon Balls de Namekusei. Pouco tempo depois, ele começa a namorar com a desmiolada e curvilínea Maron.
  p Kuririn se une a Gohan e Piccolo para enfrentarem Garlic Jr. e seus capangas monstruosos.
  p Começa a saga Cell. Kuririn ajuda seus amigos a enfrentarem os andróides 16, 17, 18 e 20. Curiosamente, a nº18 parece simpatizar com o herói.
  p Nas lutas contra Cell, diante do poder do inimigo e temendo morrer ( e não poder mais ser ressuscitado), Kuririn pouco faz.
  p Kuririn, agora cabeludo, casa-se com a nº18, com quem tem uma filhinha, Maron. O casal entra no 25º Torneio de Artes Marciais para ver se conseguiam descolar uma grana extra para ajudar nas despesas do lar. Kuririn vence a sua primeira luta, mas ele e seus amigos deixam o Torneio depois dos servos de Majin Boo atacam Gohan em meio a competição.
  p Nas primeiras lutas contra os discípulos de Boo, Kuririn e Piccolo são transformados em pedra por Darbura. De volta a sua forma normal, o herói quase não ajuda seus amigos nas batalhas contra Majin Boo, tamanho o poder do vilão, se comparando ao dele.
  p Em Dragon Ball GT, Kuririn praticamente não participa da historia. Mais velho, de cabelo grisalho e bigode, a aventura fica por conta de Goku, Trunks e Pan.
  p.text-center: a.btn-default(href='/imagens/') Veja centenas de imagens de Kuririn na nossa galeria
