extends ../../templates/content

block append meta
  - self.title = 'Lugares e Objetos'
  - self.description = 'Veja alguns lugares e objetos importantes ao decorrer dos episódios de Dragon Ball.'

block inner-content
  h2 Lugares

  h3 A Montanha Paozu
  p Foi nesse local que Goku viveu antes de conhecer Bulma, em busca das Dragon Balls. Até então Goku nunca tinha falado com nenhum ser humano, exceto seu avô adotivo, Son Gohan, que o criou desde pequeno e lhe deu o nome pelo qual nosso herói é conhecido.


  h3 A casa de Son Gohan
  p Foi nessa casa que Goku viveu grande parte de sua infância, junto com seu avô adotivo, Son Gohan. Era uma casa muito pequena, mas era o bastante para apenas duas pessoas. Ficava no topo da Montanha Paozu, e muito longe de qualquer tipo de civilização, por isso Goku nunca teve contato com qualquer pessoa.


  h3 A casa de Goku
  p É nessa casa que Goku passa a viver a pós se casar com Chi-chi. Ela se localiza ao lado da casa do Son Gohan, no topo da montanha Paozu.


  h3 A casa do mestre Kame
  p Fica situada numa pequena ilha no meio do oceano. É uma espécie de refúgio, onde os guerreiros fazem suas reuniões, estudando seus próximos passos. Mestre Kame vive sozinho nessa ilha junto com sua tartaruga.


  h3 O deserto de Yamcha
  p Yamcha vive num enorme deserto onde as temperaturas são bem elevadas. Todos que quisessem atravessar o deserto deveriam pagar algo, ou enfrentar Yamcha.


  h3 A montanha Frypan
  p Em cima desta montanha existe um castelo, local onde Chi-chi morava com seu pai antes de se casar com Goku. Dentro desse castelo encontrava-se um tesouro, e debaixo do castelo havia uma aldeia que tinha sido destruída (pensava-se que foi pelo pai de Chi-chi). Um dia, enquanto o pai e a filha faziam um piquenique, uma bola de fogo vinda do céu, caiu e queimou a montanha. Essa montanha depois foi destruída pelo mestre Kame, que tentou apagar o fogo.


  h3 O castelo de Pilaf
  p É neste castelo que Pilaf e seus dois subordinados (Shu e Mai) viviam. É um castelo muito grande, exageradamente grande para apenas 3 pessoas.


  h3 A ilha Papaya
  p É neste local que se realiza o grande torneio de artes marciais chamado Tenkaichi Budokai. Lutadores de todo o mundo se juntam de cinco em cinco anos com o objetivo de ganhar o título de melhor lutador do mundo.


  h3 A torre Mashuru
  p (ou torre da força) É uma torre que pertence ao exército da Red Ribon, e quem entra lá tem que passar por várias provas. Ela é muito grande, apesar que de fora não aparente. Goku entrou lá para salvar o ancião de uma aldeia, ele venceu todos os inimigos, e o Andróide Nº8 destruiu a torre.


  h3 A caverna perata sub aquática
  p Goku, Bulma e Kuririn, entraram nesta caverna construída por piratas em busca de uma esfera. Lá eles encontraram muitas armadilhas e inimigos, como o robô pirata que era guardião daquele lugar e o general Blue.


  h3 A capital do oeste e a Capsule Corp.
  p Esta é uma cidade grande e desenvolvida onde Bulma mora com seus pais. Sua casa é a própria corporação Cápsula. A família da Bulma é muito rica e têm muitos robôs exóticos em casa.


  h3 A torre Karin
  p Essa é uma torre muito fina, mas tão alta que não se consegue ver o topo, ela é guardada por dois índios, Bora e seu filho Upa, Goku demorou mas conseguiu chegar no topo.


  h3 A sede da Red Ribon
  p Mais se parece uma fortaleza. Foi lá que estiveram guardadas por algum tempo as Dragon Balls. Red e Black, os líderes do exército, tomam todas suas decisões nesse local.


  h3 A capital central
  p Esta é a cidade onde vive o imperador, num local chamado Castelo Rei. O castelo está rodeado por uma cidade suburbana, e foi aqui que Goku teve sua última luta com Piccolo, na série Dragon Ball.


  h3 O laboratório do Dr. Gero
  p Situado numa caverna ao lado de uma montanha, Dr. Gero fax suas experiências e guarda seus humanos artificiais neste laboratório. Quando Trunks o destruiu, Dr. Gero procurou outro local secreto.


  h3 A Satan City
  p Depois de Mr. Satan ter matado Cell (o que as pessoas pensavam), a sua cidade natal ficou conhecida como Satan City. Foi aqui também que Goku aprendeu várias técnicas.


  h3 Anoyo
  p Todas as pessoas do universo que morrem vão parar nesse lugar, depois seguem seu caminho para o céu ou o inferno.


  h3 O caminho da serpente
  p Esta é uma estrada que contém aproximadamente 1 milhão de quilômetros de distância e parece uma serpente. No final desse caminho se encontra o planeta do Sr. Kaio, onde Goku treinou. Ela é rodeada de nuvens, e para chegar até ela é preciso atravessar a estrada ou se teletransportar.


  h3 Jigoku (inferno) 
  p É para lá que vão todos os vilões depois de mortos. Goku acidentalmente esteve lá quando caiu do caminho da serpente, mas conseguiu voltar.


  h3 Tenkoku (céu)
  p É para lá que vão as pessoas boas depois de mortas. Elas chegam a um pátio de avião que parte do local onde Emma Daio está. Goku depois de ter sido morto duas vezes já esteve nesse paraíso.


  h3 Kaioshinkai
  p Este é um planeta rodeado por vários sóis, supostamente apenas os Kaioshins podem entrar, intocável pela civilização. Aqui está guardada a espada Z, a mais forte do universo. A última batalha de Dragon Ball será travada aqui.


  h2 Objetos

  h3 Neblina Áqua
  p Quando Garlic Jr. se apossou do Templo Sagrado de Kami Sama, ele abriu o frasco a onde continha a Neblina Áqua, que segundo Garlic Jr., era de seu pai, Garlic. A Neblina Áqua é uma névoa negra que faz com que as pessoas e os animais se transformem em seres perversos, e ela só faz efeito se o ser respirá-la. O único remédio para tirar o efeito da Neblina Áqua é a Água Ultra Sagrada, que funciona do mesmo jeito, ou seja, ao ser respirara.


  h3 Água Ultra Sagrada
  p Diferente da Água Sagrada, a Água Ultra sagrada é um líquido que fica dentro de um frasco, guardado no templo sagrado de Kami Sama. Essa água é a única cura para tirar o efeito da Neblina Áqua, só que se não despejada em 24 horas na camada de ar, ela não tem mais efeito.


  h3 Air car
  p Este carro se parece com o carro dos Star Wars, é anti gravidade, tem controle em Joystick e uma barreira protetora.


  h3 Axe
  p Axe é uma arma que pode dar ataques ótimos.


  h3 Basho Sen
  p Basho Sen é uma máquina que pode enviar poderes.


  h3 Batlle Jacket
  p Usada pela força Red Ribon, a Battle Jaket serve para aumentar a força de quem a usa.


  h3 Bazooka
  p Uma das armas da Red Ribon, usada por apenas uma pessoa.


  h3 Beam Gun
  p Usadas pelos soldados da classe inferior de Freeza, elas podem lançam pequenas bolas energéticas, mas o ki dessas energias são muito baixos, só as pessoas mais fracas que os soldados que possuem essas armas podem ser atingidas e feridas por ela.


  h3 Bumerangue
  p Foi um bumerangue usado por Tao PaiPai para pegar Goku, que só foi atingido porque não sabia que aquilo voltava.


  h3 Camouflaged Spaceship
  p Bulma, Kuririn e Gohan acidentalmente foram pegos por essa nave. Seus passageiros eram crianças que tiveram seu planeta destruído pelos homens de Freeza. Essa nave reflete o universo, porque ela é camuflada.


  h3 Converted Escouter
  p Este aparelho criado por Bulma para que, colocado em qualquer alien ou animal, traduza o que ele quer falar.


  h3 Figthting Jacket
  p Este é o tipo de armadura que todos os sayajins e os homens de Freeza usam. Ela protege muito, muito mais do que qualquer armadura, elas são bem flexíveis e resistentes.


  h3 Nave de Freeza
  p Essa é uma nave gigante que é usada por Freeza para viajar pelo o universo, ela possuí 25 janelas e tem vários utensílios úteis, como maquinas de cura, armaduras, etc.
