extends ../../templates/content

block append meta
  - self.title = 'Níveis Saiyajin'
  - self.description = 'Confira todos os níveis Saiyajin, como são atingidos e do quê são capazes.'

block inner-content
  h2 Saiyajin
  p Este é o nível padrão. Quando um saiyajin nasce, ele fica desse jeito até descobrir o nível Super Saiyajin. Caracteriza-se pelos olhos e cabelos negros.

  h2 Super Saiyajin
  p Este é o nível mais difícil de se descobrir. Quando se alcança, fica com os cabelos loiros, e os olhos verdes. Goku - Na luta contra Freeza, depois da morte de Kuririn. Gohan - Treinando com seu pai na Sala do Tempo. Vegeta - Treinando na Sala do Tempo, antes da luta com os Andróides. Goten e Trunks - Eles já nascem sabendo como se transforma em Super Saiyajin. Mirai Trunks - Ele alcança depois da morte de Gohan (no futuro).

  h2 Super Saiyajin Dai Ni Dankai
  p Esse não é bem um nível Super Saiyajin, e sim uma melhora do nível Super Saiyajin, até conseguir o poder máximo. Esse nível poderia ser muito usado na série, se não fosse a falta de controle do corpo. Vegeta - Alcança na Sala do Tempo. Mirai Trunks - Também alcança na Sala do Tempo.

  h2 Super Saiyajin Dai San Dankai
  p Esse também não é um nível, e sim uma outra melhora do nível Super Saiyajin. Esse nível só aumenta a massa muscular, mas diminui a agilidade e velocidade. Goku e Vegeta - Alcançam na Sala do Tempo, mas percebem o problema de agilidade e velocidade, e não usam esse nível. Mirai Trunks - Também alcança na sala do Tempo, antes da luta contra Cell, mas não percebe o problema e acaba perdendo a luta.

  h2 Super Saiyajin Full Power
  p Esse nível é o mais utilizado na série Dragon Ball Z. Nesse nível você pode se controlar totalmente. Quando se consegue esse nível, não custa muito esforço para passar de nível Saiyajin para Super Saiyajin. Goku e Gohan - Descobrem na sala do Tempo. Vegeta - Descobre quando está tudo tranqüilo na Terra, após a luta contra Cell. Goten e Trunks- Alcançam de forma natural.

  h2 Super Saiyajin Nível 2
  p Este nível rompe as barreiras de força, seu nível espiritual se iguala à sua força e velocidade. Caracteriza-se pelos cabelos mais espetados. Goku - Treinando no outro mundo. Gohan - Lutando contra Perfect Cell, depois da morte de seu pai. Maijin Vegeta - Quando está dominado por Majin Boo.

  h2 Super Saiyajin Nível 3
  p Este nível eleva sua força ao máximo, sem limites. Caracteriza-se pelos cabelos até o joelho, e a falta de sobrancelhas. Goku - Lutando contra Super Boo. Goten e Trunks - Como eles já sabem como se transforma em Super Saiyajin, ao se fusionarem, eles atingem este nível sem esforço.

  h2 Super Saiyajin Nível 4
  p Este nível é o mais destruidor de todos. É necessário estar no nível Ohzaru Gold. Caracteriza-se pelos cabelos negros até as costas, pelo vermelho no peito, olhos amarelos. Goku - Na luta contra Baby, graças as palavras de Pan (depois Goku não precisa passar pelo nível Ohzaru Gold). Vegeta - Graças a máquina criada por Bulma.

  h2 Ohzaru
  p Atinge-se este nível quando o Saiyajin (com seu rabo), olha a Lua Cheia. Ele começa a se transformar em um Macaco Gigante. Somente Vegeta pode se controlar, por ter treinado muito.

  h2 Ohzaru Gold
  p Este nível é parecido com o Ohzaru, mas é necessário estar no nível Super Saiyajin. Caracteriza-se pelo o pelo loiro do Macaco (um Macaco Super Saiyajin). Como todos os Saiyajin perdem o rabo, só Goku e Vegeta passam por esse nível. Goku - Graças aos Kaioh-Shins, fazendo o rabo do Goku crescer de novo, em Dragon Ball GT (Goku criança). Vegeta - Graças a máquina criada por Bulma, que faz o rabo crescer novamente.
