extends ../../templates/content

block append meta
  - self.title = 'O que é Ki?'
  - self.description = 'Acabe com todas as suas dúvidas relacionadas ao Ki, o poder interno de cada ser.'

block inner-content
  p Ki, em japonês, significa Energia Espiritual. É uma espécie de energia presente em todos os seres vivos, que é estudada em várias artes marciais. O ki dá a força e a velocidade aos Guerreiros Z, e é equivalente ao Cosmo dos Cavaleiros do Zodíaco ou à Força, de Star Wars.
  p Lutadores experientes conseguem tanto sentir o ki de outro quanto esconder o seu próprio, a fim de não ser localizado por oponentes. Vegeta aprendeu a medir o ki das pessoas após enfrentar Goku na Terra.
  p Quando o ki é muito poderoso, ele pode ser visto como uma aura em volta de seu dono, bem como ser usado para emitir poderosas rajadas de energia ou para levitação.
  p O lutador não poder liberar mais ki do que pode controlar, isso pode causar lesão na velocidade e força do lutador. Isso ocorreu com Cell quando estava lutando com Gohan, ele liberou mais energia do que podia controlar e Gohan bateu tão forte nele que ele cospiu a Andróide Nº18.
  p O ki é liberado para que o lutador começe a luta. Ele primeiro libera todo o ki que pode controlar, para depois começar a luta. O lutador também pode esconder seu ki máximo para impressionar o adversário, e ir aumentando seu ki pouco a pouco.
  p Se o ki de um lutador for muito alto (como o de Cell em seu último desenvolvimento) ele pode ser sentido de uma distância considerável.
