extends ../../templates/content

block append meta
  - self.title = 'Planetas'
  - self.description = 'Lista com os principais planetas citados (e visitados) durante o anime.'

block inner-content
  img.image-right(src='{cdn}gal/paginas/var_pla_kanassa.jpg')
  h2 Kanassa
  p Este foi um dos vários planetas conquistados por Bardock e seus companheiros, sob às ordens de Freeza. Os habitantes deste planeta possuem um poder psíquico extremamente elevado, porém não valeu de nada para impedir os soldados de Freeza de conquistá-lo. Possui uma lua em sua órbita.

  img.image-right(src='{cdn}gal/paginas/var_pla_meet.jpg')
  h2 Meet
  p Não muito se sabe muito sobre este planeta. Freeza havia mandado os companheiros de Bardock para uma missão de reconhecimento, porém a intenção de Freeza era outra. Sabendo do potencial que os saiyajins possuíam, e com medo de que eles se rebelassem, Freeza iniciou sua campanha de exterminação aos saiyajins, ordenando a execução da equipe de Bardock neste planeta. 

  img.image-right(src='{cdn}gal/paginas/var_pla_nnamek.jpg')
  h2 New Namek
  p Após a destruição do planeta Namek, os Nameckuseijins ficaram hospedados por um tempo na Terra. Como provavelmente eles nunca iriam se adaptar aos costumes terrestres, eles pediram às Esferas do Dragão que os levassem a um planeta semelhane à Namek. New Namek é praticamente idêntica a Nameck original, até possui 3 sóis próximos ao planeta. New Namek também possui o mesmo tipo de vegetação que a Namek original, porém em maior quantidade.

  img.image-right(src='{cdn}gal/paginas/var_pla_namek.jpg')
  h2 Namek
  p Este é o aspecto do planeta Nameck antes de ser destruído na batalha de Freeza. A gravidade deste planeta é muito semelhante a da Terra, o clima é o mesmo por todo local que se vá, e também não existe noite, devido aos 3 sóis existentes em seu sistema. Os habitantes deste planeta são os Nameckuseijins, que possuem um poder de luta considerável, além de terem habilidades psíquicas. Existem duas luas em sua órbita.

  img.image-right(src='{cdn}gal/paginas/var_pla_vegeta.jpg')
  h2 Vegeta
  p O nome original deste planeta é Plant, possui uma gravidade cerca de 10 vezes maior, ou até mais que a da Terra, e foi habitado por duas raças, os Tsurufujins e os Saiyajins. Os Tsurufujins possuiam um alto conhecimento tecnológico, e os Saiyajins, possuiam uma força descomunal. Mesmo com tanta tecnologia, não foi suficiente para impedir a revolta dos Saiyans, que destruiu quase por completo todos os Tsurufujins, e de quebra, ficaram com toda a tecnologia deles. O nome do planeta foi mudado, agora para Vegeta, em homenagem ao Rei que governava os Saiyajins, Rei Vegeta. Mais tarde, o planeta Vegeta foi destruído por Freeza, que tinha medo que os Saiyajins crescessem em poder e se rebelassem contra ele. Possuía uma lua em sua órbita.

  img.image-right(src='{cdn}gal/paginas/var_pla_freeza.jpg')
  h2 Freeza 79
  p É apenas um dos milhares de planetas que compõe o império de Freeza. Este planeta era utilizado como um dos quartéis generais do exército de Freeza e também era a base de suas operações.

  img.image-right(src='{cdn}gal/paginas/var_pla_yardratto.jpg')
  h2 Yardratto
  p Também conhecido como Yardarrat, este foi o planeta para qual Goku foi mandado, após ter conseguido escapar da explosão de Namek, em uma das naves das Forças especiais de Freeza. A nave estava automaticamente programada para ir à este planeta, pois provavelmente seria o próximo alvo de conquista de Freeza. Os habitantes são seres rosados, de olhos grandes, e de trajes estranhos, chamados Yardarrattjins. Apesar de não serem muito poderosos, eles possuem técnicas realmente interessantes, como o Shunkanido, ou Teleporte. Goku aprendeu esta técnica com os habitantes deste planeta. Possui uma lua em sua órbita.

  img.image-right(src='{cdn}gal/paginas/var_pla_nvegeta.jpg')
  h2 New Vegeta
  p Paragus, pai de Brolli, nomeou este planeta como o novo planeta dos Saiyajins. Porém, não passava de pretexto para que ele pudesse acabar com o único sobrevivente da família real dos Saiyajins, Vegeta. O planeta era bem subdesenvolvido, toda a energia do planeta era concentrada em um lado. Um meteoro chocou-se contra o planeta, explodindo-o. Possuía uma lua em sua órbita, que desapareceu junto ao planeta.