extends ../../templates/content

block append meta
  - self.title = 'Produtores'
  - self.description = 'Descubra as pessoas por trás da produção do anime.'

block inner-content
  h2 Criador
  ul.list-stacked
    li Akira Toriyama

  h2 Produtores
  ul.list-stacked
    li Koji Kaneda
    li Kenji Shimizu

  h2 Planejamento
  ul.list-stacked
    li Kozo Morishita

  h2 Diretores da Série
  ul.list-stacked
    li Daisuke Nishio
    li Takao Koyama

  h2 Música
  ul.list-stacked
    li Shunsuke Kikuchi
    li Misao Makanou

  h2 Design dos Personagens
  ul.list-stacked
    li Katsuhiro Nakazuru
    li Misao Makanou

  h2 Animador Chefe
  ul.list-stacked
    li Minoru Maeda

  h2 Designers Chefes
  ul.list-stacked
    li Ken Tokushige
    li Yuji Ikeda

  h2 Diretor de Audio
  ul.list-stacked
    li Takehiro Komatsu

  h2 Chefes de Produção
  ul.list-stacked
    li Matsushi Kishimoto
    li Yuichi Suenaga

  h2 Gravação
  ul.list-stacked
    li Kenji Ninomiya

  h2 Editor
  ul.list-stacked
    li Shin'ichi Fukumitsu
