extends ../../templates/content

block append meta
  - self.title = 'Raças'
  - self.description = 'Lista das raças presentes em Dragon Ball.'

block inner-content
  h2 Humano
  p A maioria dos humanos são fracos por natureza, somente alguns humanos podem fazer com que sua força oculta desperte, mas isso é uma exceção.
  p #[strong Ki médio:] 5 (exceto humanos excepcionais como Kuririn, Mestre Kami, Yamtcha)
  p #[strong Características:] Duas pernas, dois braços, dois olhos, duas orelhas, um nariz, uma boca, sobrancelhas.
  p #[strong Planeta:] Terra


  h2 Animais
  p São animais que existem ou que já existiram na realidade, e outros também que são aberrações logicamente inventadas. Não é possível fazer uma classificação geral para todos eles.
  p #[strong Ki médio:] Aproximadamente 10
  p #[strong Planeta:] Qualquer um


  h2 Saiyajins
  p Esta é uma raça de guerreiros, por isso, são normalmente muito fortes. Eles têm uma grande semelhança com os humanos, tanto é que os amigos de Goku só foram descobrir que ele era de outro planeta quando Raditz apareceu na terra e contou toda a história.
  p #[strong Ki médio:] 1 200
  p #[strong Características:] As mesmas dos humanos, só que possuem um rabo e o cabelo é sempre preto e nunca cresce.
  p #[strong Planeta:] Planeta Vegeta
  .read-more: a(href='/saiyajins/') Veja mais sobre os Saiyajins


  h2 Namekuseijins
  p Existem dois tipos de Namekusei-Jins, os normais, que possuem praticamente a mesma força de um humano, e os da raça guerreira (que possuem a força semelhante a de um sayajin, na maioria da vezes é até mais forte). Uma coisa interessante nos namekuseijins é que eles não tem sexo e botam ovos pela boca. Eles também são muito tímidos.
  p #[strong Ki médio:] 5 / 1 500 (1 500 são os da raça guerreira)
  p #[strong Características:] Pele esverdeada, algumas partes de seus músculos são rosas, escamas, antenas. Os da raça guerreira podem regenerar partes de seu corpo.
  p #[strong História:] Namekusei aparece pela primeira vez em Dragon Ball Z, na saga de Freeza. Foi em Namekusei que Kami Sama nasceu, e é lá que se encontram as verdadeiras Dragon Balls.
  p #[strong Planeta:] Namek (ou Namekusei)


  h2 Andróide
  p Os andróides são criados pelo Dr. Gero, a maioria deles são construídos através de bases humanas ou de outro planeta, por isso não é possível obter o ki de cada andróide porque que cada um possuí suas características.
  p #[strong Ki médio:] Em geral é muito alto.
  p #[strong Características:] Normalmente são parecidos com os humanos, podem ser feitos através de uma base mecânica, ou de uma base humana.
  p #[strong Planeta:] Geralmente Terra


  h2 Majin
  p Existem dois tipos de Majin, os que dominam, e os que são dominados. O verdadeiro Majin é o que domina, é esse que da origem à raça, o Majin dominado é aquele que deu sua alma para outro Majin se tornar um Majin dominador. Os Majins são demônios que podem ter características diferentes um do outro. Majin Boo é um dos Majins mais conhecidos.
  p #[strong Características:] Os dominados possuem um "M" na testa.


  h2 Konackjins
  p A maioria dos Konackjins foram mortos por Hildegarn, poucos conseguiram sobreviver. Eles receberam uma espada e uma flauta dos Deuses. A flauta serve para paralizar Hildegarn, e a espada serve para aprisioná-lo e debilitá-lo. Hildegarn foi paralizado pelos sobreviventes, e aprisionado em um oráculo criado pelos magos do planeta.
  p #[strong Características:] Possuem uma espécie de metal nas laterais da cabeça, têm orelhas pontudas e cabelos espetados.
  p #[strong Planeta:] Konack


  h2 Tsufurujins
  p Os tsufurujins fizeram uma pequena aparição em Dragon Ball Z, quando o Sr. Kaio contou para Goku, que os saiyajins tinham matado todos os tsufurujins.
  p #[strong Características:] São como os humanos, possuem os cabelos meio punk.
  p #[strong História:] Os tsufurujins viviam no planeta Plant, quando os saiyajins se ofereceram para serem seus aliados, mas em troca queriam a tecnologia deles. Os tsufurujins concordaram, mas o Rei Vegeta tinha programado uma emboscada para acabar com todos os tsufurujins. Coincidência ou não, a batalha foi bem numa noite de lua cheia. Resultado: todos os tsufurujins foram mortos, com exceção de Baby, que foi mandado para o espaço, para que quando crescesse, destruísse todos os saiyajins.
  p #[strong Planeta:] Plant


  h2 Changeling
  p O primeiro Changeling a aparecer na série foi Freeza, que queria apoderar-se das Dragon Balls de Namekusei, para obter a vida eterna. Freeza era considerado o dono e o mais forte do universo, ele contratava seres para trabalhar para ele, indo nos planetas e matando seus habitantes para depois vender o planeta. Freeza era muito orgulhoso, por achar que era o mais forte do universo, mas tinha muito medo dos saiyajins, porque eles poderiam ser um grande problema, já que eles aumentavam constantemente seu poder após uma luta, mas Freeza temia mesmo a história do SSJ e por isso destruiu o planeta Vegeta, matando todos os Saiyajins, mas alguns que não estavam lá sobreviveram (como Goku). Freeza posteriormente foi morto por Goku que se tornou um SSJ. Freeza tem um pai chamado Cold, e um irmão chamado Cooler, que são muito mais fortes que ele.
  p #[strong Ki médio:] mais de 10 000 000
  p #[strong Características:] Todos possuem transformações para economizar energia, ou seja, para não usar todo o seu poder, já que eles não sabem controlar o seu ki. De acordo com sua transformação eles possuem chifres, rabo, três dedos nos pés, dois braços e duas pernas.
