extends ../../templates/content

block append meta
  - self.title = 'Saiyajins'
  - self.description = 'Descubra a história desta raça guerreira que tem destaque no anime.'

block inner-content
  img.image-right(src='/gal/paginas/var_sjs_001.jpg')
  p Saiyajin é uma raça descendente do planeta Vegeta. São considerados os guerreiros mais fortes do universo, obsecados pelo poder, costumam destruir planetas quando inúteis para venda. Goku foi enviado à Terra para poder dominá-la e vendê-la. Ele foi encontrado por Son Gohan que resolveu adotá-lo. Goku tinha muita raiva de tudo mas depois caiu de um penhasco e bateu a cabeça perdendo a memória. Goku cresceu ingênuo, alegre e camarada, por isso ele não destruiu a Terra.
  p Saiyajins tem cabelos pretos e espetados, os cabelos de saiyajins puros nunca crescem, mas somente quando um saiyjyn não é puro como Gohan e Trunks.
  p Eles tem um rabo, que é a concentração da força. O rabo é usado em noites de lua cheia para se transformar em um macaco gigante.
  p Saiyajin é uma raça que apresenta transformações. São chamadas de Super Saiyajin, e eles se alteram e seus cabelos se alteram, sem falar na sua força e velocidade. Mas todas as raças já conhecem suas transformações, e já sabem como chegar nelas. Os Super Saiyajins não, pode até existir o SSJ6 ou 7, quem sabe?
  p Os saiyajins são os únicos que se transformam em um macaco gigante (conhecido como Ohzaru), que na maioria das vezes são inconsientes de seus atos, e só destroem. Alguns saiyajins podem se controlar quando em Ohzaru.
  .read-more: a(href='/niveis-saiyajin/') Veja mais sobre os Níveis Saiyajin