extends ../../templates/content

block append meta
  - self.title = 'Tenkaichi Budokais'
  - self.description = 'Veja os resultados dos campeonatos de luta que ocorreram durante o anime.'

block inner-content
  p Veja a lista dos vencedores dos Tenkaichi Budokais
  
  h2 1º ao 20º
  ul.list-stacked
    li #[strong Campeão:] Kame-sennin
  
  p &nbsp;
  h2 21º Tenkaichi Budoukai
  ul.list-stacked
    li #[strong Campeão:] Kame-sennin
    li #[strong Vice:] Son Goku
  
  p &nbsp;
  h2 22º Tenkaichi Budoukai
  ul.list-stacked
    li #[strong Campeão:] Ten shin han
    li #[strong Vice:] Son Goku
  
  p &nbsp;
  h2 23º Tenkaichi Budoukai
  ul.list-stacked
    li #[strong Campeão:] Son Goku
    li #[strong Vice:] Piccolo
  
  p &nbsp;
  h2 O jogo de Cell (algo como um campeonato)
  ul.list-stacked
    li #[strong Campeão:] Son Gohan
    li #[strong Vice:] Cell
  
  p &nbsp;
  h2 24º Tenkaichi Budoukai
  ul.list-stacked
    li #[strong Campeão:] Mr. Satan
    li #[strong Vice:] N/A
  
  p &nbsp;
  h2 25º Tenkaichi Budoukai
  ul.list-stacked
    li #[strong Campeão:] Mr. Satan
    li #[strong Campeão juvenil:] Trunks
  
  p &nbsp;
  h2 26º Tenkaichi Budoukai
  ul.list-stacked
    li #[strong Campeão:] Mr. Satan
    li #[strong Vice:] Buu
  
  p &nbsp;
  h2 27º Tenkaichi Budoukai
  ul.list-stacked
    li #[strong Campeão:] Mr. Satan
    li #[strong Vice:] Buu
