extends ../../templates/content

block append meta
  - self.title = 'Trunks'
  - self.description = 'Biografia completa de Trunks, filho de Vegeta e Bulma que vem do futuro para ajudar na luta contra os Andróides.'

block inner-content
  img.image-left(src='#{self.cdn}/gal/paginas/bio_trunks_001.jpg', alt='Trunks')
  p Trunks nasceu em 766 d.C., alguns anos antes de os Andróides do Dr. Gero começarem a destruir a Terra.
  p Em sua realidade, apenas ele e Gohan sobreviveram às batalhas contra os Nº17 e 18. Todos os demais Guerreiros Z morreram durante a luta -inclusive Goku, que foi vitima de uma doença no coração
  p Trunks passou a treinar com Gohan para enfrentar a dupla cibernética. Porem , seu amigo acaba sendo assassinado pelos andróides. Sem ter Poder de Luta suficiente para enfrentar o nº17 e 18, Trunks volta ao passado com uma maquina do tempo construída por Bulma.
  p Em 764 d.C., Trunks chega a época em que todos os Guerreiros Z estavam vivos. Em sua chegada ele detona com Freeza, agora com boa parte de seu corpo ruborizada.
  p Logo depois de partir Freeza em dois com sua espada, Trunks também liquida com o Rei Cold, o pai de Freeza.
  p A principio Trunks não revela ser filho de Vegeta e Bulma. Ela confidencia isso apenas a Goku (Piccolo consegue descobrir graças a sua superaudição) que acabava de chegar à terra após as lutas contra Freeza em Nameckusei. O Saiya-jin do futuro alerta o herói sobre a ameaça dos andróides e de sua doença no coração e diz que voltará em três anos para ajudar os Guerreiros Z.
  p Em 766 d.C., Trunks do presente nasce.
  p Depois de três anos, Trunks volta ao passado. Ele se depara com os andróides 19 e 20. Porem, esses não eram os robôs que destruíram sua realidade. Goku adoece e tem que abandonar os combates até o remédio que o Saiya-jin do futuro trouxera faça efeito. E, seguida, os andróides 17 e 18 são libertados pelo Dr.Gero(na verdade, o nº20).
  p Trunks e Kuririn destroem o andróide nº21(na verdade Cell) do presente junto com o laboratório do Dr.Gero.
  p Cell, usando a maquina do tempo de Trunks, vem de uma realidade alternativa. Ele absorve os andróides 17 e 18 e se torna o ser perfeito.
  p Para enfrentar o novo inimigo, Trunks vai treinar com Vegeta na Sala do Tempo, no Templo de Kami-Sama. O herói se torna muito mais poderoso do que seu pai, mas prefere não falar nada para humilha-lo.
  p Começa o Torneio de Cell. Goku enfrenta o inimigo, mas deixa a luta dando seu lugar a Gohan.Como o garoto parecia não se interessar pela briga, Cell ameaça seus amigos e acaba matando Trunks.
  p Goku morre tentando matar Cell, mas é Gohan quem detona com o vilão. Depois, Trunks é ressuscitado pelas Esferas do Dragão. Mais forte, ele volta à sua realidade no futuro e da cabo dos andróides 17, 18 e também Cell.
  img.image-right(src='#{self.cdn}/gal/paginas/bio_trunks_002.jpg', alt='Trunks')
  p De volta ao presente.Sete anos depois da vitória sobre Cell, o pequeno Trunks, com oito anos, treina com seu pai. Em pouco tempo, o garoto mostra seus poderes de Super Saiya-jin, para o espanto de Vegeta.br>
  p O 25º Torneio de Artes Marciais terá inicio. Goten e Trunks se inscrevem na competiÇão infantil. Na final, os dois se enfrentam e Trunks acaba vencendo, depois que Goten cai fora do ringue.
  p O Sr.Satan decide enfrentar Trunks e acaba levando a maior surra do garoto. E para não passar mais vergonha, finge dores de barriga entre outras coisas.
  p Goten e Trunks se disfarçam de Poderoso Mascarado(Mighty Mask) para tomar parte da Competição dos adultos. Mas, ao enfrentar a nº18, a dupla é descoberta e desclassificada.
  p Trunks e Goten vão para o local onde as lutas contra Majin Boo e seus servos estão desenrolando. Ao chegar, a dupla, acompanhada de Piccolo e Kuririn, presencia Vegeta -ainda sob o poder de Boo- se sacrificar para tentar matar o vilão em sua faze gorducha.
  p Para enfrentar Majin Boo, Trunks e Goten aprendem a técnica da fusão. Depois de algumas tentativas, eles conseguem se transformar em Gotenks.
  p Em duas ocasiões Gotenks enfrenta majin boo. Embora tenha conseguido deter o vilão, na segunda luta, Trunks e Goten fundidos alcançam o nível de Super Saya-jin 3.
  p Gotenks, mais Piccolo e Gohan, é absorvido por Majin Boo, que acaba vencido depois por Goku.
  p Começa Dragon Ball GT. Se passaram dez anos depois que Majin Boo fora derrotado. Trunks- meio contra a sua vontade- embarca em uma aventura espacial ao lado de Pan(filha de Gohan e videl) e Goku- que fora transformado em criança por Pilaf- em busca das esferas do dragão de estrelas negras(black star dragon balls).
  p Junto de seus amigos, o garoto torna parte das batalhas contra Bebi, o Super andróide 17 e contra os Shen longs malignos.
  h2 Extra
  p A espada que Trunks usa nas batalhas foi presente do alien Tapion no movie 13 de Dragon Ball Z, Ryuken Bakusatsu! Goku Yaraneba Darega Yaru, que se passa durante a Saga Boo.
  p.text-center: a.btn-default(href='/imagens/') Veja centenas de imagens de Trunks na nossa galeria
