/**
 * Hi there! Glad you found me.
 *
 * @author Wesley de Souza <dev@wex.vc>
 */

:root {
  /* Breakpoints */
  --break-medium: 768px;
  --break-large: 1280px;

  /* Font weights */
  --normal: 300;
  --bold: 700;

  /* Font sizes */
  --size-default: 1.6rem;
  --size-sm: 1.6rem;

  /* Colors */
  --darker-green: #598400;
  --dark-green: #739818;
  --green: #99CC00;
  --light-green: #AEE620;
  --lighter-green: #BCE65E;

  --darker-teal: #00574D;
  --dark-teal: #13645C;
  --teal: #008577;
  --light-teal: #24C3B3;
  --lighter-teal: #52C2B7;

  --darker-orange: #8C3B00;
  --dark-orange: #A25B20;
  --orange: #D85B00;
  --light-orange: #ED852F;
  --lighter-orange: #EDA065;

  --darker-pink: #6F0043;
  --dark-pink: #801D5A;
  --pink: #AB0066;
  --light-pink: #D62E96;
  --lighter-pink: #D65CA7;

  --black: #000;
  --black-20: rgba(0, 0, 0, .2);
  --black-80: rgba(0, 0, 0, .8);
  --darkest-gray: #424252;
  --darker-gray: #646474;
  --dark-gray: #868696;
  --gray: #A8A8B8;
  --light-gray: #CACADB;
  --lighter-gray: #DBDBEB;
  --white: #FFF;
  --white-20: rgba(255, 255, 255, .2);

  /* Common sizes */
  --spacing-lg: 40px;
  --spacing-sm: 20px;
  --nav-height-lg: 100px;
  --nav-height-sm: 44px;
  --border-radius: 4px;

  /* Z-indexes */
  --z-index-nav: 10;
  --z-index-modal: 50;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 0.625em;
  box-sizing: border-box;
}

body [hidden] {
  display: none;
}

html,
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body,
input,
select,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

body {
  padding-top: calc(var(--nav-height-lg) + var(--spacing-sm));
  font-weight: var(--normal);
  background-color: var(--lighter-gray)
}

body,
a {
  color: var(--black);
}

strong,
b {
  font-weight: var(--bold);
}

hr {
  background-color: var(--gray);
  height: 1px;
  width: 100%;
  border-width: 0;
}

.nowrap {
  white-space: nowrap;
}

.clear {
  clear: both;
}

html.-cannot-scroll body,
html.-has-nav-open body {
  overflow: hidden;
  height: 100%;
}

body .pull-left {
  float: left;
}

body .pull-right {
  float: right;
}

body .image-left {
  float: left;
  margin: 0 var(--spacing-sm) var(--spacing-sm) 0;
}

body .image-right {
  float: right;
  margin: 0 0 var(--spacing-sm) var(--spacing-sm);
}

body .text-left {
  text-align: left;
}

body .text-center {
  text-align: center;
}

body .text-right {
  text-align: right;
}

body .align-middle {
  vertical-align: middle;
}

.anchor {
  display: block;
  margin-top: calc(0px - var(--nav-height-lg));
  margin-bottom: var(--nav-height-lg);
}

.anchor-letter-index {
  position: fixed;
  top: 0;
  right: 6px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.anchor-letter-index a {
  display: block;
  padding: 3px;
  color: var(--darker-gray);
  text-decoration: none;
}

.icon {
  width: 16px;
}

.icon-huge {
  width: 64px;
}

.padding {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  padding-bottom: var(--spacing-lg)
}

.wrapper,
.grid {
}

.wrapper:after, .grid:after {
  content: '';
  display: table;
  clear: both;
}

.grid > * {
  display: inline-block;
  vertical-align: top;
}

.grid-middle > * {
  vertical-align: middle;
}

.grid-padded {
  margin-left: calc(0px - var(--spacing-sm) / 2);
  margin-right: calc(0px - var(--spacing-sm) / 2);
  margin-bottom: calc(0px - var(--spacing-sm))
}

.grid-padded > * {
  padding-left: calc(var(--spacing-sm) / 2);
  padding-right: calc(var(--spacing-sm) / 2);
  padding-bottom: var(--spacing-sm);
}

.width-1-1 { width: 100%; }

.width-1-2 { width: 50%; }

.width-1-3 { width: 33.33333%; }

.width-1-4 { width: 25%; }

.width-1-5 { width: 20%; }

.width-1-6 { width: 16.66667%; }

.width-1-7 { width: 14.28571%; }

.width-2-3 { width: 66.66667%; }

.width-2-5 { width: 40%; }

.width-2-7 { width: 28.57143%; }

.width-3-4 { width: 75%; }

.width-3-5 { width: 60%; }

.width-3-7 { width: 42.85714%; }

.width-4-5 { width: 80%; }

.width-4-7 { width: 57.14286%; }

.width-5-6 { width: 83.33333%; }

.width-5-7 { width: 71.42857%; }

.width-6-7 { width: 85.71428%; }

.input {
  -webkit-appearance: none;
  line-height: 21px;
  margin: 0;
  padding: 10px 2px;
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  vertical-align: top;
  border-radius: 0
}

.input:hover,
  .input:focus {
  padding-bottom: 9px;
  border-bottom-width: 2px;
  border-bottom-color: var(--green);
  outline: 0;
}

.input:invalid:focus {
  border-color: var(--orange);
}

.input[disabled] {
  color: var(--dark-gray);
  fill: var(--dark-gray);
  background-color: var(--lighter-gray);
}

.input[disabled]:hover,
    .input[disabled]:focus {
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-color: var(--light-gray);
}

.btn-default,
.btn-info,
.btn-primary,
.btn-danger {
  display: inline-block;
  line-height: 21px;
  margin: 0;
  padding: 11px;
  border: 0 solid var(--black);
  background-color: var(--dark-gray);
  color: var(--white);
  fill: var(--white);
  vertical-align: top;
  font-weight: var(--bold);
  text-decoration: none;
  cursor: pointer
}

.btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-info:hover,
  .btn-info:focus,
  .btn-info:active,
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-danger:hover,
  .btn-danger:focus,
  .btn-danger:active {
  padding-bottom: 9px;
  border-bottom-width: 2px;
  outline: 0;
}

.btn-default:active, .btn-info:active, .btn-primary:active, .btn-danger:active {
  border-top-width: 2px;
  border-bottom-width: 0;
  background-color: var(--darker-gray);
}

.btn-info {
  border-color: var(--darker-teal);
  background-color: var(--teal)
}

.btn-info:active {
  background-color: var(--dark-teal);
}

.btn-primary {
  border-color: var(--darker-green);
  background-color: var(--green)
}

.btn-primary:active {
  background-color: var(--dark-green);
}

.btn-danger {
  border-color: var(--darker-orange);
  background-color: var(--orange)
}

.btn-danger:active {
  background-color: var(--dark-orange);
}

.main-content {
  min-height: 60vh;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm)
}

.header {
}

.header h1 {
  font-size: 3.0rem;
  font-weight: var(--normal);
  color: var(--black);
  margin: 0 0 var(--spacing-sm) 0;
  text-align: center;
}

.content {
  margin-bottom: var(--spacing-sm);
  font-size: 1.6rem
}

.content h1,
  .content h2 {
  font-size: 3.0rem;
  font-weight: var(--normal);
  color: var(--black);
  margin: 0 0 var(--spacing-sm) 0;
}

.content h1 a, .content h2 a {
  color: var(--black);
}

.content p {
  margin: 0 0 var(--spacing-sm) 0;
  line-height: 1.8;
}

.content h2 {
  font-size: 2.0rem;
}

.page-content {

  padding: var(--spacing-sm);
  background-color: var(--white);
  border: 1px solid var(--light-gray)
}

.page-content h1 {
  font-weight: var(--bold);
}

.box {
  padding: var(--spacing-sm) calc(var(--spacing-sm) / 2);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
}

.list-linear,
.list-stacked {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-linear {
}

.list-linear, .list-linear > li {
  display: inline-block;
}

.main-nav {
  position: fixed;
  z-index: 10;
  top: 0; left: 0;
  width: 100%;
  line-height: 60px;
  background-color: var(--black);
  font-size: 1.4rem;
  font-weight: var(--bold);
  letter-spacing: 0.2rem;
  outline: 1px solid var(--white-20)
}

.main-nav, .main-nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  fill: var(--white);
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav h1 {
  margin: 0 40px 0 -90px;
  font-family: 'Gruppo', sans-serif;
  font-size: 3.8rem;
  letter-spacing: -0.3rem;
  text-transform: none;
  background: url(../images/goku.png) no-repeat;
  background-size: 230px 100px;
  background-position: 0 60%;
}

.main-nav h1 a:hover {
  text-decoration: none;
}

.main-nav h1 .mz {
  color: var(--green);
}

.main-footer {
  background-color: var(--dark-green);
  color: var(--white);
  margin-bottom: 0;
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm)
}

.main-footer h1 {
  font-size: 1.8rem;
  margin: 0 0 calc(var(--spacing-sm) / 4) 0;
}

.main-footer ul {
  margin-bottom: var(--spacing-sm);
}

.main-footer a {
  color: var(--white);
}

.main-footer .copyright {
  text-align: center;
}

.home-search {
}

.home-search input,
  .home-search button {
  width: 100%;
}

.home-tiles {
}

.home-tiles .tile {
  height: 150px;
}

.home-tiles .tile a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.home-tiles .tile .home-galeria {
  background-image: url('../images/home-galeria.jpg');
}

.home-tiles .tile .home-personagens {
  background-image: url('../images/home-personagens.jpg');
}

.home-tiles .tile .home-calculeki {
  background-image: url('../images/home-calculeki.jpg');
}

.home-tiles .tile .home-jogos {
  background-image: url('../images/home-jogos.jpg');
}

.home-tiles .tile .home-entrevistaakira {
  background-image: url('../images/home-entrevistaakira.jpg');
}

.home-tiles .tile .home-niveissaiyajin {
  background-image: url('../images/home-niveissaiyajin.jpg');
}

.home-tiles .tile h1 {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: auto;
  padding: var(--spacing-sm);
  color: var(--white);
  background-color: var(--black-80);
  transition: all 0.2s ease;
}

.home-tiles .tile a:hover h1 {
  color: var(--black);
  background-color: var(--green);
}

.characters {
  display: flex;
  flex-direction: column;
}

.character {
  display: flex;
  align-items: flex-start;
  margin-top: var(--spacing-sm)
}

.character:not(:last-child) {
  border-bottom: 1px solid var(--lighter-gray);
}

.character-image {
  flex-grow: 0;
}

.character-description {
  margin-bottom: var(--spacing-sm);
  flex-grow: 1;
}

.gallery-breadcrumbs {
  font-size: 1.4rem
}

.gallery-breadcrumbs li {
  margin-right: 0.5rem;
}

.gallery-folders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-folder {
  width: 100px;
  text-align: center;
  margin: var(--spacing-sm);
}

.gallery-folder-samples {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: calc(var(--spacing-sm) / 3);
}

.gallery-folder-sample {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid var(--white);
  box-shadow: 0px 3px 5px var(--black-20);
  z-index: 1
}

.gallery-folder-sample:nth-child(1) {
  z-index: 2;
}

.gallery-folder-sample:nth-child(2) {
  transform: rotate(-10deg);
}

.gallery-folder-sample:nth-child(3) {
  transform: rotate(10deg);
}

.gallery-folder-name {

}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image-link {
  margin: var(--spacing-sm);
}

.gallery-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid var(--white);
  box-shadow: 0px 3px 5px var(--black-20);
}

.gallery-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black-80);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-modal);
}

.gallery-fullscreen-previous,
.gallery-fullscreen-next {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.gallery-fullscreen-next {
  left: auto;
  right: 0;
}

@media (min-width: 768px) {

  body .text-left-md {
    text-align: left;
  }

  body .text-center-md {
    text-align: center;
  }

  body .text-right-md {
    text-align: right;
  }

  .anchor-letter-index {
    right: 20px;
  }

  .width-md-1-1 {
    width: 100%;
  }

  .width-md-1-2 {
    width: 50%;
  }

  .width-md-1-3 {
    width: 33.33333%;
  }

  .width-md-1-4 {
    width: 25%;
  }

  .width-md-1-5 {
    width: 20%;
  }

  .width-md-1-6 {
    width: 16.66667%;
  }

  .width-md-1-7 {
    width: 14.28571%;
  }

  .width-md-2-3 {
    width: 66.66667%;
  }

  .width-md-2-5 {
    width: 40%;
  }

  .width-md-2-7 {
    width: 28.57143%;
  }

  .width-md-3-4 {
    width: 75%;
  }

  .width-md-3-5 {
    width: 60%;
  }

  .width-md-3-7 {
    width: 42.85714%;
  }

  .width-md-4-5 {
    width: 80%;
  }

  .width-md-4-7 {
    width: 57.14286%;
  }

  .width-md-5-6 {
    width: 83.33333%;
  }

  .width-md-5-7 {
    width: 71.42857%;
  }

  .width-md-6-7 {
    width: 85.71428%;
  }

  .main-nav {
    text-transform: uppercase;
  }

  body.-has-transitions-enabled .main-nav {
    transition: all 0.5s ease;
  }

  .main-nav h1 a {
    padding-left: 230px;
    padding-right: 20px;
  }

  .main-nav .nav-right {
    text-align: right;
  }

  .-has-scroll-on-top .main-nav {
    line-height: 100px;
  }

  .main-nav li {
    margin-left: 40px;
  }

  .main-nav li:first-child {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {

  .hidden-md,
  .visible-sm,
  .visible-lg {
    display: none;
  }

  .wide-md {
    max-width: 100%;
  }

  .wrapper {
    width: calc(var(--break-medium) - var(--spacing-sm));
  }

  .main-nav {
    letter-spacing: 0.1rem;
  }

  .main-nav h1 {
    margin-right: 10px;
  }

  .main-nav li {
    margin-left: 15px;
  }

  .home-tiles .tile {
    height: 250px;
  }
}

@media (min-width: 1280px) {

  body .text-left-lg {
    text-align: left;
  }

  body .text-center-lg {
    text-align: center;
  }

  body .text-right-lg {
    text-align: right;
  }

  .width-lg-1-1 {
    width: 100%;
  }

  .width-lg-1-2 {
    width: 50%;
  }

  .width-lg-1-3 {
    width: 33.33333%;
  }

  .width-lg-1-4 {
    width: 25%;
  }

  .width-lg-1-5 {
    width: 20%;
  }

  .width-lg-1-6 {
    width: 16.66667%;
  }

  .width-lg-1-7 {
    width: 14.28571%;
  }

  .width-lg-2-3 {
    width: 66.66667%;
  }

  .width-lg-2-5 {
    width: 40%;
  }

  .width-lg-2-7 {
    width: 28.57143%;
  }

  .width-lg-3-4 {
    width: 75%;
  }

  .width-lg-3-5 {
    width: 60%;
  }

  .width-lg-3-7 {
    width: 42.85714%;
  }

  .width-lg-4-5 {
    width: 80%;
  }

  .width-lg-4-7 {
    width: 57.14286%;
  }

  .width-lg-5-6 {
    width: 83.33333%;
  }

  .width-lg-5-7 {
    width: 71.42857%;
  }

  .width-lg-6-7 {
    width: 85.71428%;
  }

  .hidden-lg,
  .visible-sm,
  .visible-md {
    display: none;
  }

  .wide-lg {
    max-width: 100%;
  }

  .wrapper {
    width: calc(var(--break-large) - var(--spacing-sm));
  }

  .home-tiles .tile {
    height: 280px;
  }
}

@media (max-width: 767px) {

  body {
    font-size: var(--size-sm);
    padding-top: calc(var(--nav-height-sm) + var(--spacing-sm));
  }

  body .image-right,
  body .image-left {
    display: block;
    float: none;
    margin: 0 auto var(--spacing-sm) auto;
  }

  .padding {
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
  }

  .hidden-sm,
  .visible-md,
  .visible-lg {
    display: none;
  }

  .wide-sm {
    max-width: 100%;
  }

  .header {
}

  .header h1 {
    font-size: 2.2rem;
  }

  .content h2 {
    font-size: 1.8rem;
  }

  .content {
}

  .content h1 {
    font-size: 2.2rem;
  }

  .content h2 {
    font-size: 1.6rem;
  }

  .page-content {
    margin-left: calc(0px - var(--spacing-sm));
    margin-right: calc(0px - var(--spacing-sm));
    border-left: none;
    border-right: none;
  }

  .main-nav {
    line-height: 44px;
    letter-spacing: 0.1rem;
  }

  .main-nav .wrapper {
    padding: 0;
  }

  .main-nav h1 {
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 3.0rem;
    background: none;
  }

  .main-nav ul {
    font-size: 1.4rem;
  }

  .main-nav .nav-dropdown {
    padding: 0 10px;
  }

  .main-nav .nav-dropdown:hover {
    text-decoration: none;
  }

  .main-nav .nav-ul-menu {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    line-height: 20px;
    clear: both;
    background: var(--white);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .main-nav .nav-ul-menu a,
      .main-nav .nav-ul-menu h2 {
    display: block;
    margin: 0;
    font-size: 1.8rem;
    font-weight: var(--normal);
    padding: 1.2rem 0;
  }

  .main-nav .nav-ul-menu h2 {
    padding-top: 2.4rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: var(--bold);
    text-transform: uppercase;
  }

  .main-nav .nav-ul-menu li {
    border-top: 1px solid var(--light-gray);
    font-weight: var(--normal);
    margin-left: 1.8rem;
  }

  .main-nav .nav-ul-menu li:first-of-type {
    border-top: 0;
  }

  .main-nav .nav-ul-menu .nav-ul-category {
    margin-left: 0;
    padding-left: 1.8rem;
    background-color: var(--lighter-gray);
    border: 1px solid var(--light-gray);
    border-width: 1px 0;
  }

  .main-nav .nav-ul-menu .nav-ul-category + li {
    border-top: 0;
  }

  .main-nav .nav-ul-menu li,
      .main-nav .nav-ul-menu a {
    color: var(--black);
  }

  html.-has-nav-open .main-nav {
    width: 100%;
    height: 100%;
  }

  html.-has-nav-open .main-nav .nav-dropdown-open {
    display: none;
  }

  html.-has-nav-open .main-nav .nav-dropdown-close,
      html.-has-nav-open .main-nav .list-stacked {
    display: block;
  }

  .home-tiles .tile {
}

  .home-tiles .tile h1 {
    padding: calc(var(--spacing-sm) / 2);
    font-size: 1.8rem;
  }
}
